--- 
title: Trident Drone
layout: default
page_css: /assets/openrov/css/product-trident.css
redirect_from: "/products/1-trident.html"
image: /assets/openrov/images/social/trident.jpg
description: "OpenROV Trident - See Underwater Like Never Before - After four years designing and piloting underwater drones, we've taken everything we've learned and completely re-imagined what an underwater drone could be."
---
<article id="trident">
{% include pre-order-banner.html %}
{% include product-trident/head.html %}

{% include product-trident/content.html %}

{% include product-trident/features.html %}

{% include product-trident/components.html %}

 
</article>