--- 
title: Trident Drone | OpenROV | Underwater Exploration Robots
layout: default
page_css: /assets/openrov/css/product-trident.css
---
<article>
{% include product-trident/head.html %}
{% include home/media.html %}

    <section class="sextion swatch-white">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <header class="element-short-top element-short-bottom">
                        <h1 class="bigger hairline">Trident - your Personal Underwater Drone</h1>
                    </header>
                </div>
            </div>        
        </div>
    </section>

{% include product-trident/intro.html %}

{% include product-trident/features.html %}

 
    <section class="section swatch-blue section-text-shadow section-inner-shadow">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ">
                    <header class="text-center  element-short-top element-short-bottom not-condensed" data-os-animation="none" data-os-animation-delay="0s">
                        <h1 class="big light bordered-normal">
                            Pre order your Trident drone now!
                        </h1>
                    </header>
                </div>
                <div class="col-md-2 ">
                    <a href="https://shop.trycelery.com/page/5637ca44df92ea03009633b3" class="btn btn-primary btn-lg element-short-top element-short-bottom" 
                        target="_self" data-os-animation="none"
                        data-os-animation-delay="0s ">Pre order</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section swatch-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 element-tall-bottom ">
                </div>
            </div>
        </div>
    </section>
</article>