---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>OpenROV | Underwater Exploration Robots</title>
        <meta property="og:title" content="OpenROV | Underwater Exploration Robots" />
        <meta property="og:description" content="OpenROV is an open-source, low-cost underwater robot for exploration and education.<br> It's also a passionate community of professional and amateur ocean explorers and technologists." />
        <meta property="og:image" content="http://www.openrov.com/assets/openrov/images/ogimage.jpg" />
        <meta property="og:url" content="http://www.openrov.com" />
        {% include headers.html %}
        <script type="text/javascript">
  window.liveSettings = {
    api_key: "993f3545477f4aa8a4c0f28c3e08c11b",
    picker: "bottom-right",
    detectlang: true,
    dynamic: true,
    autocollect: true
  };
</script>
<script type="text/javascript" src="//cdn.transifex.com/live.js"></script>
  </head>
    <body class="transparent-header">
      {% include header.html %}
      <div id="content">
            <article>
                <script type="text/javascript">
                var oxyThemeData = {
                    navbarHeight: 90,
                    navbarScrolled: 70,
                    navbarScrolledPoint: 200,
                    navbarScrolledSwatches:
                    {
                        up: 'swatch-black',
                        down: 'swatch-black'
                    },
                    scrollFinishedMessage: 'No more items to load.',
                    hoverMenu:
                    {
                        hoverActive: false,
                        hoverDelay: 1,
                        hoverFadeDelay: 200
                    }
                };
                </script>
                <section id="one" class="section swatch-black section-text-shadow section-fullheight">
                    <div class="background-media" style="background-image: url('../assets/openrov/images/section1_27.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 0px;" data-start="background-position:50% 0px"
                    data-70-top-bottom="background-position:50% -80px">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
                                    <div class="visible-xs" style="height:150px;"></div>
                                    <div class="visible-sm" style="height:150px;"></div>
                                    <div class="visible-md" style="height:220px;"></div>
                                    <div class="visible-lg" style="height:220px;"></div>
                                </div>
                                <header class="text-center  element-no-top element-no-bottom not-condensed" data-os-animation="none" data-os-animation-delay="0s" data-70-top-bottom="opacity:0" data-start="opacity:1" data-center="opacity:1">
                                  <div id="front-jumbotron" class="jumbotron  element-normal-top element-tall-bottom os-animation animated fadeIn">

                                    <h1 class="super bold bordered bordered-normal">
                                      <img src="../assets/openrov/images/openrovBig.png" alt="OpenROV">
                                    </h1>
                                    <h2 class="big light no-bordered-header bordered-normal">
                            Thank you for purchasing one of our ROVs!
                                    </h2>

                                  </div>
                                </header>
                                <header class="text-center  element-no-top element-short-bottom condensed" data-os-animation="none" data-os-animation-delay="0s" data-70-top-bottom="opacity:0" data-start="opacity:1" data-center="opacity:1">
                                </header>
                                <a href="#two" class="scroll-to scroll-to-id  element-short-top element-short-bottom place-bottom" data-os-animation="none" data-os-animation-delay="0s">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <path fill="none" d="M65.473 42.382l-14.532 15.235-14.531-15.235"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="two" class="section swatch-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row " data-os-animation="" data-os-animation-delay="">
                                    <div class="col-md-4 col-md-offset-2">
                                        <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay=".2s">
                                          <a href="http://openrov.dozuki.com/c/Building_from_a_kit" target="_blank">
                                            <div class="box box-round box-big element-normal-top element-short-bottom os-animation">
                                                <div class="box-dummy"></div>
                                                <div class="box-inner grid-overlay-0" style="background-color:#e9e9e9;">
                                                  <img class="" src="../assets/openrov/images/kit.jpg" alt="the kit" />
                                                </div>
                                            </div>
                                            <h3 class="normal bold bordered bordered-small ">
                                              I bought a kit
                                            </h3>
                                            <p class="">
                                            </p>
                                          </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                      <a href="http://openrov.dozuki.com/Guide/OpenROV+Operators+Manual/80" target="_blank">
                                        <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                            <div class="box box-round box-big element-normal-top element-short-bottom os-animation">
                                                <div class="box-dummy"></div>
                                                <div class="box-inner grid-overlay-0" style="background-color:#e9e9e9;">
                                                    <img class="" src="../assets/openrov/images/explore.jpg" alt="assembled" />
                                                </div>
                                            </div>
                                            <h3 class="normal bold bordered bordered-small ">
                                              I bought an assembled unit
                                            </h3>
                                            <p class="">
                                            </p>
                                        </div>
                                      </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                      <div class="row element-normal-top" > <!-- next -->
                        <div class="col-md-12 text-center" style="height: 60px color:black">
                          <a href="#four" class="scroll-to scroll-to-id  element-short-top element-short-bottom place-bottom" data-os-animation="none" data-os-animation-delay="0s" style="bottom: 0">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                              <path fill="none" d="M65.473 42.382l-14.532 15.235-14.531-15.235"></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                </section> <!-- buy - build - explore -->
                <div class="bullet-nav">
                    <ul></ul>
                </div>
            </article>
        </div>
        {% include footer.html %}
    </body>
</html>
