<!--<div class="col-md-12 fullheight">-->
    <div id="slider-flex12" class="flexslider " data-flex-speed="8000" 
            data-flex-duration="1000" data-flex-animation="fade" data-flex-controls="show" 
            data-flex-directions="hide" data-flex-controlsalign="center" 
                data-flex-controlsposition="inside"
            data-flex-sliderdirection="horizontal" data-flex-controlsvertical="bottom">
        <ul class="slides">
            <li>
                <div class="jumbotron  element-no-top element-no-bottom image" 
                    style="background-image: url(../assets/openrov/images/support/forum-800x600.jpg);">
                    <!--<h1>Promotion 1</h1>-->
                </div>
            </li>
            <li>
                <div class="jumbotron  element-no-top element-no-bottom image" 
                    style="background-image: url(../assets/openrov/images/support/forum-800x600.jpg);">
                    <!--<h1>Promotion 1</h1>-->
                </div>
            </li>
            <li>
                <div class="jumbotron  element-no-top element-no-bottom image" 
                    style="background-image: url(../assets/openrov/images/support/forum-800x600.jpg);">
                    <!--<h1>Promotion 1</h1>-->
                </div>
            </li>
        </ul>
    </div>
<!--</div>-->