--- 
title: Support
layout: default
page_css: /assets/openrov/css/support.css
---

<section id="support" class="section swatch-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <header class="element-small-top element-no-bottom">
                    <h1 class="or-section-title-dark element-medium-bottom">Our Support Channels</h1>
                </header>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 linkImage">
                {% include linkimage.html image='../assets/openrov/images/support/assembly-instructions-800x600.jpg' url='http://openrov.dozuki.com/c/Building_from_a_kit' title='Assembly instructions' subtitle='Built it!' tall=true %}
            </div>
            <div class="col-md-4 linkImage">
                {% include linkimage.html image='../assets/openrov/images/support/forum-800x600.jpg' url='http://forum.openrov.com/c/help-and-support' title='Forum' subtitle='Connect with the community'  %}
            </div>            
            <div class="col-md-4 linkImage">
                {% include linkimage.html image='../assets/openrov/images/support/archeology-800x600.jpg' url='http://openrov.dozuki.com/Guide/OpenROV+Operators+Manual/80' title='Operations Manual' subtitle='Get your ROV in ship shape' tall=true %}
            </div>            

        </div>
    </div>
<script>


// window.zEmbed || function(jsUrl, t) {
//     var n, o, d, i, s, a = [],
//         r = document.createElement("iframe");
//     window.zEmbed = function() {
//         a.push(arguments)
//     };
//     window.zE = window.zE || window.zEmbed;
//     r.src = "javascript:false";
//     r.title = "";
//     r.role = "presentation";
//     (r.frameElement || r).style.cssText = "display: none";
//     d = document.getElementsByTagName("script");
//     d = d[d.length - 1];
//     d.parentNode.insertBefore(r, d);
//     i = r.contentWindow;
//     s = i.document;
//     s.__load = function(doc) {
        
//         doc._l();
//         debugger;
//     }
//     try {
//         o = s
//     } catch (e) {
//         n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
//     }
//     o.open()._l = function() {
//         var o = this.createElement("script");
//         n && (this.domain = n), o.id = "js-iframe-async", o.src = jsUrl, this.t = +new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o)
//     }, o.write('<body onload="document.__load(document);">'), o.close()
// }("https://assets.zendesk.com/embeddable_framework/main.js", "openrov.zendesk.com");


</script>

</section>

