--- 
title: Buy Trident | Underwater Exploration Robots
layout: default
image: /assets/openrov/images/openrov-trident.jpg
page_script:
    - https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js
    - /bower_components/babel-polyfill/browser-polyfill.js
    - /assets/js/buy-trident.js
---


<div class="buy-trident">

    <div class="hideOnDesktop">
    {% include product-trident/head.html special=true title="" %}
    </div>

    <section class="order-information2 container-fluid swatch-white">
        <div class="row">
            <div class="col-md-4 element-short-top text-center hideOnMobile">
                <img src="/assets/openrov/images/product-trident/trident-diving-tall.jpg" alt="OpenROV Trident">
            </div>

            <div class="col-md-8 ">

                <div class="row">
                    <div class="col-md-12 align-self-center">
                        <h1 class="text-center text-md-left element-short-top element-short-bottom or-section-title-dark"> Pre-Order your OpenROV Trident</h1>
                    </div>
                </div>

                <form id="orderForm" class="">

                    <div class="row ">
                        <div class="col-md-10">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Description</strong>
                                </div>
                                <div class="card-block">
                                    <p class="card-text" id="description">Loading...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <div class="form-group quantity-container ">
                        <label for="quantity" class="col-md-2 col-md-offset-2 col-xs-3 col-form-label">Quantity:</label>
                        <select class="form-control" id="quantity" name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    
                    <div class="" style="padding-left:10px;">
                        <table class="col-md-10 col-xs-12 pricing">
                            <thead>
                                <tr>
                                    <td colspan="4" class="hideOnMobile">Select Package</td>
                                    <td colspan="3" class="hideOnDesktop">Trident Underwater Drone </td>
                                    <td class="text-center">Price</td>
                                </tr>
                            </thead>
                            <tbody id="options">
                            </tbody>
                            <tfoot>
                                <tr class="shipping">
                                    <td colspan="5" class="text-right">Shipping: <span id="shipping">$0.00</span></td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">Tax: <span id="tax">$0.00</span></td>
                                </tr>
                                <tr id="discount-container" class="hidden-xs-up">
                                    <td colspan="5" class="text-right">Discount: <span id="discount">$0.00</span></td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right total">Total (<span id="quantityOrdered">1</span> <span id="itemsLabel">item</span>): <span id="total">$0.00</span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-xs-12 element-short-bottom">
                            <h2>Shipping information:</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-xs-12">
                            <div class="flex-form-group">
                                <div>
                                <input
                                    type="text"
                                    class="form-control form-control-danger"
                                    id="firstName" name="firstName"
                                    placeholder="First Name"
                                    required></div>
                                <div>
                                    <input
                                    type="text"
                                    class="form-control form-control-danger"
                                    id="lastName"
                                    name="lastName"
                                    placeholder="Last Name" required>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-xs-12">
                            <div class="flex-form-group">
                                <div><input type="text" class="form-control form-control-danger" id="address1" name="address1" placeholder="Street Address" required></div>
                                <input type="text" class="form-control form-control-danger" id="address2" name="address2" placeholder="Apt, Suite, Bldg (optional)">
                                <div><input type="text" class="form-control form-control-danger" id="city" name="city" placeholder="City" required></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-xs-12">
                            <div class="flex-form-group selects-2">
                                <div><input type="text" class="form-control  form-control-danger" id="zip" name="zip" placeholder="ZIP/Postal" required></div>
                                <select class="form-control  form-control-danger" id="usState" name="usState" >
                                    {% for item in site.data.usStates %}
                                    <option value="{{item.Abbreviation}}">{{item.State}}</option>
                                    {% endfor %}                        
                                </select>
                                <div class="hidden-xs-up"><input type="text" class="form-control  form-control-danger" style="flex:2" id="state" name="state" placeholder="State/Province"  required></div>

                                <select class="form-control col-md-9 form-control-danger" id="country" name="country">
                                    {% for item in site.data.country %}
                                    <option value="{{item.id}}">{{item.value}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-xs-12">
                            <div class="flex-form-group">
                                <div>
                                <input
                                    type="email"
                                    class="form-control form-control-danger"
                                    id="email" name="email"
                                    required  
                                    placeholder="you@example.com"
                                >
                                </div>
                                <div>
                                <input
                                    type="tel"
                                    class="form-control form-control-danger"
                                    id="phone"
                                    name="phone"
                                    placeholder="Phone: 1-(555)-555-5555"
                                    required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-xs-12">
                            <div class="flex-form-group">
                                <textarea
                                    class="form-control form-control-danger"
                                    id="notes"
                                    name="notes"
                                    rows="3"
                                    placeholder="Notes for the Seller (optional)"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-xs-12 element-short-top element-short-bottom ">
                            <h2>Billing information:</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-xs-12">
                            <div class="flex-form-group">
                                <div><input
                                    type="text"
                                    autocomplete="off"
                                    class="form-control form-control-danger"
                                    id="couponCode"
                                    name="couponCode"
                                    placeholder="Coupon code" >
                                </div>
                                <div style="flex: 2">
                                <input
                                    type="tel"
                                    pattern="^[0-9 -]{1,}$"
                                    autocomplete="off"
                                    class="form-control form-control-danger"
                                    
                                    id="ccNumber"
                                    name="ccNumber"
                                    placeholder="Debit/Credit Card Number" required>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-xs-12">
                            <div class="flex-form-group">
                                <div><input type="text" class="form-control col-sm-2 form-control-danger" id="expDate" name="expDate" placeholder="MM/YY" pattern="^[0-9]{2}/[0-9]{2}$" required></div>
                                <div><input type="number" data-minlength="3" maxlength="4" class="form-control col-sm-2 form-control-danger" id="cvc" name="cvc" placeholder="CVC" required></div>
                                <div><input type="number" class="form-control col-sm-2" id="billingZip" name="billingZip" placeholder="Billing ZIP" required></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-xs-12">
                            <div class="flex-form-group">
                                <div class="alert alert-danger col-md-10" role="alert" style="display: none">
                                    <strong class="title"></strong><br>
                                    <span class="description"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-xs-12 element-normal-bottom ">
                            <button type="button" id="order" mame="order" class="submit btn btn-primary font-weight-bold">Place your order!</button>
                            <label for="order" id="orderProcessing" style="display: none">Processing...</label>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </section>

</div>
