section#content {
    .row {
          display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .row > .col-md-6 {
        clear: none;
        width:49%;
        display: flex;

        &> div {
            width: 100%
        }
    }

    h1.or-content-sub-title-dark {
        padding-bottom: 10px;
    }


}