--- 
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>OpenROV | Underwater Exploration Robots</title>
        <meta property="og:title" content="OpenROV | Underwater Exploration Robots" />
        <meta property="og:description" content="OpenROV is an open-source, low-cost underwater robot for exploration and education.<br> It's also a passionate community of professional and amateur ocean explorers and technologists." />
        <meta property="og:image" content="http://www.openrov.comassets/openrov/images/ogimage.jpg" />
        <meta property="og:url" content="http://www.openrov.com" />
        <meta name="google-site-verification" content="6sqA5KNpZtZaQPB-78QcD8CDqXsbhOiqpZGvmNxYDI4" />

        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/theme.min.css">
        <link rel="stylesheet" href="assets/css/color-defaults.min.css" media="screen">
        <link rel="stylesheet" href="assets/css/swatch-white.min.css" media="screen">
        <link rel="stylesheet" href="assets/css/swatch-blue.min.css" media="screen">
        <link rel="stylesheet" href="assets/css/swatch-gray.min.css" media="screen">
        <link rel="stylesheet" href="assets/css/swatch-black.min.css" media="screen">
        <link rel="stylesheet" href="assets/css/swatch-white-black.min.css" media="screen">
        <link rel="stylesheet" href="assets/css/swatch-white-green.min.css" media="screen">
        <link rel="stylesheet" href="assets/css/swatch-white-red.min.css" media="screen">
        <link rel="stylesheet" href="assets/css/fonts.min.css" media="screen">
        
        <link rel="stylesheet" href="assets/openrov/css/theme.css" media="screen">
    </head>
    <body class="normal-header "><!--pace-on pace-counter-->
        <div class="pace-overlay"></div>
        <div id="masthead" class="navbar navbar-static-top swatch-white navbar-sticky" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--logo-->
                    <a href="index.html" class="navbar-brand">
                        <img src="assets/openrov/images/openrov-dark.png" alt="OpenROV | Underwater Exploration Robots">
                    </a>
                </div>
                <nav class="collapse navbar-collapse main-navbar" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu-item-object-oxy_mega_menu ">
                            <a href="/product">Product</a>
                        </li>
                        <li class="">
                            <a href="/support">Support</a>
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Support</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="page-about-classic.html">About Us - Classic</a>
                                </li>
                                <li>
                                    <a href="page-service-2.html">Single Service - Fancy                                                    
                                        <span class="label menu-label label-primary">New!</span>
                                    </a>
                                </li>
                            </ul>-->
                        </li>
                        <li class="">
                            <a href="#" >OpenExplorer</a>
                        </li>
                        <li class="">
                            <a href="/community">Community</a>
                        </li>
                        <li class="">
                            <a href="/gallery">Gallery</a>
                        </li>
                        <li class="">
                            <a href="/press">Press</a>
                        </li>
                        <li class="">
                            <a href="/blog">Blog</a>
                        </li>
                        <li class="nav-highlight">
                            <a href="/store"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:white; padding-right:3px;"></i> Store</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="content">
            <article>

                {% include home/head.html %}
                {% include home/media.html %}
                {% include home/usecases.html %}

            </article>
        </div>
        <script src="assets/js/packages.min.js"></script>
        <script src="assets/js/theme.min.js"></script>
    </body>
</html>
