.swatch-white a, [class*=swatch-] .swatch-white a,
.swatch-gray .scroll-to svg, [class*=swatch-] .swatch-gray .scroll-to svg,
.swatch-white .scroll-to svg, [class*=swatch-] .swatch-white .scroll-to svg {
    color: #146086;
    stroke: #146086;
}

.swatch-white .scroll-to, [class*=swatch-] .swatch-white .scroll-to,
.swatch-gray .scroll-to, [class*=swatch-] .swatch-gray .scroll-to {
    border-color: #146086;
}

@media (min-width: 992px) {
    #masthead .nav>li>a {
        color: black;
    }
}

#masthead.navbar-scrolled .nav>li>a {
    color: white;
}

#masthead .nav>li>a:hover:before {
    background-color: black;
}
#masthead.navbar-scrolled .nav>li>a:hover:before {
    background-color: white;
}

#masthead .navbar-brand>img.white {
    display: none;
}
#masthead .navbar-brand>img.black {
    display: inline;
}

#masthead.navbar-scrolled .navbar-brand>img.white {
    display: inline;
}
#masthead.navbar-scrolled .navbar-brand>img.black {
    display: none;
}


#front-jumbotron {
    background-color: rgba(60, 60, 60, 0.56);
}

.fa.ninety-deg {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.swatch-black .panel.panel-primary > .panel-heading {
    background-color: #428bca;
}
.swatch-black .panel.panel-primary > .panel-heading > .panel-title {
    color: white;
}

.oe {
    width: 100%;
    height: 100%;
    background-image: url('../images/oe_white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;

}
a:hover .oe {
    background-image: url('../images/oe_dark.png');
}

.ks {
    width: 100%;
    height: 100%;
    background-image: url('../images/kickstarter_white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%
}
a:hover .ks {
    background-image: url('../images/kickstarter_dark.png');
}


#masthead.navbar-scrolled {
    background-color: rgba(12, 47, 62, 0.95) !important;
}

#masthead.swatch-white {
    background-color: rgba(255, 255, 255, 0.95);
}

.link-partners i.fa {
    font-size: 20px;
}
.link-partners .btn-block {
    width: 70%;
    margin-bottom: 10px!important;
}