#masthead .nav>li>a {
    color: black;
}

#masthead.navbar-scrolled .nav>li>a {
    color: white;
}

#masthead .nav>li>a:hover:before {
    background-color: black;
}
#masthead.navbar-scrolled .nav>li>a:hover:before {
    background-color: white;
}

#masthead .navbar-brand>img.white {
    display: none;
}
#masthead .navbar-brand>img.black {
    display: inline;
}

#masthead.navbar-scrolled .navbar-brand>img.white {
    display: inline;
}
#masthead.navbar-scrolled .navbar-brand>img.black {
    display: none;
}


#front-jumbotron {
    background-color: rgba(60, 60, 60, 0.56);
}

.fa.ninety-deg {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.swatch-black .panel.panel-primary > .panel-heading {
    background-color: #428bca;
}
.swatch-black .panel.panel-primary > .panel-heading > .panel-title {
    color: white;
}