--- 
title: Gallery
layout: default
sitemap: false
page_css: 
    - /assets/openrov/css/gallery.css
    - //cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css
    - //cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css
page_script:
    - //cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js
    - /assets/js/gallery.js
---
<section id="gallery" class="section swatch-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <header class="element-small-top element-no-bottom">
                    <h1 class="or-section-title-dark element-medium-bottom">Gallery</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 element-short-top element-tall-bottom">
                <div class="row slider-container">
                    <div class="col-md-10 col-md-offset-1 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <div class="row">
                            <div class="image-container">
                                <div class="left arrow v-container">
                                    <a class="arrow-container v-box" href="#"></a>
                                </div>
                                <div class="right arrow v-container">
                                    <a class="arrow-container v-box" href="#"></a>
                                </div>
                                <div class="v-container text-hide">
                                    <div class="v-box"><h2>Loading</h2></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="slider element-short-top">
                                {% for file in site.static_files %}{% if file.path contains 'gallery/images' %}
                                <div><img data-lazy=" {{ file.path | prepend: site.baseurl }}" /></div>
                                {% endif %} {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>

