---
---
section#community {

    .forums-content {
        min-height: 300px;
        padding: 0;

        .flexslider {
            height: 300px!important;

            .jumbotron {
                height: 300px;
                background-size: cover;
            }
        }
    }
}

section#community-forums {
    &:hover {
        background-color: #3782A9;
    }    

    img.forums {
        height: 6em;
        padding-top: .5em;
        padding-bottom: .5em;
    }

}

@import 'community/head.scss'