---
---
@import "themeDefinitions.scss";
section#gallery {

    .slider {
        opacity: 0;

        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;        
    }

    .slick-slider.slick-initialized {
        opacity: 1;
    }

    .slick-slide {
        margin: 0 15px;
        max-width: 150px;
    }

    .slick-current {
        border: solid 3px #27B3F0;
    }

    .slider-container {
        position: relative;

        .image-container {
            width: 100%;
            position: relative;
            height: 500px;
            
            @media #{$mobileMedia} {
                height: 250px;
            }

            background-color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            $duration: 500ms;

            -webkit-transition-property: background;
            -webkit-transition-duration: $duration;
            -webkit-transition-timing-function: ease-in;
            -webkit-transition-delay: 100ms;

            -moz-transition-property: background;
            -moz-transition-duration: $duration;
            -moz-transition-timing-function: ease-in;
            -moz-transition-delay: 100ms;

            -o-transition-property: background;
            -o-transition-duration: $duration;
            -o-transition-timing-function: ease-in;
            -o-transition-delay: 100ms;

            transition-property: background;
            transition-duration: $duration;
            transition-timing-function: ease-in;
            transition-delay: 100ms;

            .arrow {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 40px;
                // background-color: rgba(0,0,0,0.5);
                background-position: center;
                background-repeat: no-repeat;

                @media #{$tabletMedia} {
                   display: none;
                }

                .arrow-container {
                    height: 40px;
                    width: 40px;
                    background-position-x: 0;
                    background-position-y: -40px;
                }

                .arrow-container:hover {
                    background-position-x: 0;
                    background-position-y: -80px;
                }
            }
            .arrow.left {
                left: 0;

                .arrow-container {
                    background-image: url(../../images/rev-slider/large_left.png);
                }
            }

            .arrow.right {
                right: 0;

                .arrow-container {
                    background-image: url(../../images/rev-slider/large_right.png);
                }
            }
            

        }        
    }


    
}