---
---
section#support {

    .panel {
        height: 300px;
        overflow: hidden;

        .panel-body {
            height: 100%;

            div {
                height: 100%;
            }

            &.image {
                padding:0;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .white {
        color: white;
    }

    // .zendesk {
    //     height: 50%!important;
    // }
   
   .orov-overlay .hilight {
       color: black;
       background-color: white;
       padding: 5px 10px;
       width: auto;
       display: inline-block;
   }

   .orov-overlay:hover .hilight {
       border: 2px solid white;
       background-color: transparent;
       color: white;
   }

   .figure-image {
       border: 1px solid black;
   }


    .figure-overlay-visible {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        z-index: 1001;

        h2 {
            color: white;
            text-shadow: 2px 2px 2px black;
        }

        .content {
            padding: 30px;
            position: relative;

        }

        .foreground {
            z-index: 1010;
            position: relative;
        }
        
        .background {
            z-index: 1001;
        }
    }

    .floating {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }



    

   
}



.modal {
  text-align: center;
  z-index: 1110;
  opacity: 0;
  transition: opacity 0.3s;

  &.in {
    opacity: 1;
  }
}

.modal-open {
  overflow-y: scroll;
}

$modalWidth: 800px;
$modalHeight: 608px;
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: $modalWidth;
  height: $modalHeight;

  .modal-content {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
  }

  .modal-body {
      background-repeat: no-repeat;
      background-size: cover;
      width: $modalWidth;
      height: $modalHeight;
      text-align: left;

      .v-container {
        text-align: left;
      }
  }

  .close {
    color: black!important;
    padding: 5px 10px;
    background-color: transparent!important;
    opacity: 1;
    font-size: 1.5em;
    z-index: 1120;
    position: relative;
  }
  
  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 0;

    .v-box {
      width: $modalWidth;
      height: $modalHeight;
      margin-left: 0;
      color: white;
      z-index: 1115;

      .row {
          margin: 0;
      }
    }
  }
}