---
---
.orov-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .orov-overlay-container {
        height: 100%;
    }

}

.orov-overlay-sepia:hover img {
    -webkit-filter: sepia(55%);
    filter: sepia(55%);
}

/* - Overlays -*/
.hover-hover-grid-overlay-10:hover {
  background-image: url(../../images/grid-10.png);
}

.hover-grid-overlay-20:hover {
  background-image: url(../../images/grid-20.png);
}

.hover-grid-overlay-30:hover {
  background-image: url(../../images/grid-30.png);
}

.hover-grid-overlay-40:hover {
  background-image: url(../../images/grid-40.png);
}

.hover-grid-overlay-50:hover {
  background-image: url(../../images/grid-50.png);
}

.hover-grid-overlay-60:hover {
  background-image: url(../../images/grid-60.png);
}

.hover-grid-overlay-70:hover {
  background-image: url(../../images/grid-70.png);
}

.hover-grid-overlay-80:hover {
  background-image: url(../../images/grid-80.png);
}

.hover-grid-overlay-90:hover {
    background-image: url(../../images/grid-90.png);
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.hover-grid-overlay-100:hover {
  background-image: url(../../images/grid-100.png);
}