---
---

.strikethrough {
  text-decoration: line-through;
}

.bold {
  text-weight: bold;
}

.image-overlay-text {
  h1 {
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    color: white;
  }

  h2 {
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    color: white;
  }

  &.right {
    text-align: right!important;
    margin-right: 2em;
  }

  &.black {
    h1 { color: black; }
    h2 { color: black; }
  }

  &.no-shadow {
    h1 { text-shadow: initial; }
    h2 { text-shadow: initial; }
  }
}

img.invert {
  -webkit-filter: invert(1);
  filter: invert(1);

}

.orov-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .orov-overlay-container {
        height: 100%;
    }

}

.orov-overlay-sepia:hover img {
    -webkit-filter: sepia(55%);
    filter: sepia(55%);
}

/* - Overlays -*/
.hover-hover-grid-overlay-10:hover {
  background-image: url(../../images/grid-10.png);
}

.hover-grid-overlay-20:hover {
  background-image: url(../../images/grid-20.png);
}

.hover-grid-overlay-30:hover {
  background-image: url(../../images/grid-30.png);
}

.hover-grid-overlay-40:hover {
  background-image: url(../../images/grid-40.png);
}

.hover-grid-overlay-50:hover {
  background-image: url(../../images/grid-50.png);
}

.hover-grid-overlay-60:hover {
  background-image: url(../../images/grid-60.png);
}

.hover-grid-overlay-70:hover {
  background-image: url(../../images/grid-70.png);
}

.hover-grid-overlay-80:hover {
  background-image: url(../../images/grid-80.png);
}

.hover-grid-overlay-90:hover {
    background-image: url(../../images/grid-90.png);
}

.hover-grid-overlay-100:hover {
  background-image: url(../../images/grid-100.png);
}

// #footer .swatch-black {
//     background-color: rgba(12, 47, 62, 1) !important;
// }

.link-partners i.fa {
    font-size: 20px;
}
.link-partners .btn-block {
    width: 70%;
    margin-bottom: 10px!important;
}

.oe {
    width: 100%;
    height: 100%;
    background-image: url('../images/oe_white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;

}
a:hover .oe {
    background-image: url('../images/oe_dark.png');
}

footer#footer {
  ul { padding-left: 20px; }
}

.v-container{
    height: 100%;
    white-space: nowrap;
    text-align: center;
}
.v-container:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100%; 
}
.v-box{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}


@media (max-width: 770px) {
  .hideOnMobile {
    display: none;
  }
}


nav.main-navbar ul.dropdown-menu.first {
  left:auto!important;
  right:auto!important;
}

.flexslider {
    .flex-direction-nav a {
      margin-top: -1.5em;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;      
    }
    .flex-direction-nav {
      a:before {
        font-size: 2em;
        font-weight: 600;
        display: inline-block;
        color: rgba(0, 0, 0, 0.9);
      } 
      .flex-prev {
        text-shadow: 3px 0 1px rgba(255, 255, 255, 1);
        left: -50px;
      }
      .flex-next {
        text-shadow: -3px 0 1px rgba(255, 255, 255, 1);
        right: -50px;
        text-align: right;
      }
    }


  &:hover .flex-direction-nav {
      .flex-prev {
          opacity: 0.7;
          left: 10px;
      }

      .flex-next {
        opacity: 0.7;
        right: 10px;
      }
  }

}