<footer id="footer" role="contentinfo">
    <section class="section main-footer">
        <div class="container">
            <div class="row element-normal-top element-short-bottom">
                <div class="col-md-2 col-md-offset-1 col-xs-12 link-partners">
                    <h3 class="or-footer-micro-title">Find us:</h3>

                    <div class="social element-short-top">

                        <a href="https://openexplorer.com" class=""
                            target="_blank" data-track="Footer OpenExplorer">
                            <span ><div class="fa oe" data-animation="none">
                                {% include oe-logo.svg  %}
                                    </div></span>
                        </a>

                        {% for social in site.data.social %}<a href="{{social.link}}" class=""
                            target="_blank" data-track="Footer {{social.label}}">
                            <span ><div class="{{ social.class }}" data-animation="none"></div></span>
                        </a>{% endfor %}


                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <h3 class="or-footer-micro-title">Products:</h3>
                    <ul class="list-unstyled">
                        <li class="or-footer-micro-body"><a href="{{ site.baseurl }}/products/trident">Trident</a></li>
                        <li class="or-footer-micro-body"><a href="{{ site.baseurl }}/products/openrov28">OpenROV 2.8 Kit</a></li>
                    </ul>
                </div>
                <div class="col-md-2  col-xs-6">
                    <h3 class="or-footer-micro-title">Community:</h3>
                    <ul class="list-unstyled">
                        <li class="or-footer-micro-body"><a href="{{ site.baseurl }}/community/#developers">Developers</a></li>
                        <li class="or-footer-micro-body"><a href="{{ site.baseurl }}/community/#forums">Forums</a></li>
                    </ul>
                </div>
                <div class="col-md-2  col-xs-6">
                    <h3 class="or-footer-micro-title">Support:</h3>
                    <ul class="list-unstyled">
                        <li class="or-footer-micro-body"><a href="{{ site.baseurl }}/support/#documentation">Documentation</a></li>
                        <li class="or-footer-micro-body"><a href="mailto:support@openrov.com">Contact support</a></li>
                    </ul>
                </div>
                <div class="col-md-2  col-xs-6">
                    <h3 class="or-footer-micro-title">More:</h3>
                    <ul class="list-unstyled">
                        <li class="or-footer-micro-body"><a href="{{ site.baseurl }}/about.html">About</a></li>
                        <!--<li class="or-footer-micro-body"><a href="{{ site.baseurl }}/jobs.html">Jobs</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section bottom">
        <div class="container">
            <div class="row element-no-top element-no-bottom">

                <div class="col-md-4 pull-right">
                    <ul class="list-inline">
                        <li class="or-footer-micro-body"><a href="{{ site.baseurl}}/sitemap.html">Sitemap</a></li>
                        <li class="or-footer-micro-body"><a href="{{ site.baseurl}}/tos.html">Terms &amp; Conditions</a></li>
                        <li class="or-footer-micro-body"><a href="{{ site.baseurl}}/privacy.html">Privacy Policy</a></li>
                    </ul>
                </div>


                <div class="col-md-4 col-md-offset-1">
                    2016 &copy; OpenROV CA. All Rights Reserved.
                </div>


            </div>
        </div>

    </section>
</footer>