    <div class="background element-short-bottom" style="background-image: url({{ include.image }})">
        <a href="{{ include.url }}" class="" >
        <div class="linkImage-container">
            <div class="container-fluid linkImage-content">
                <div class="row" style="height:100%">
                    <div class="col-md-12">
                        <h1 class="or-content-title-light-left">{{ include.title }}</h1>
                        <div class="description or-content-sub-title-light-left">{{ include.subtitle }}</div>
                    </div>
                </div>
                <div class="linkImage-arrow right">{% include yellow-arrow-right.svg %}</div>
            </div>
            <div class="or-botton-line"></div>
            <div class="or-darken-34"></div>
        </div>

        </a>
        
    </div>
