
                <nav class="collapse navbar-collapse main-navbar" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="or-nav-link ">
                            <a href="{{ '/products' | prepend: site.baseurl }}">Product</a>
                        </li>

                        <li class="or-nav-link">
                            <a href="{{ '/support' | prepend: site.baseurl }}">Support</a>
                        </li>
                        <li class="or-nav-link">
                            <a href="https://www.openexplorer.com" target="_blank">OpenExplorer</a>
                        </li>
                        <li class="or-nav-link">
                            <a href="{{ '/community' | prepend: site.baseurl }}">Community</a>
                        </li>
                        <li class="or-nav-link">
                            <a href="{{ '/gallery' | prepend: site.baseurl }}">Gallery</a>
                        </li>
                        <li class="or-nav-link">
                            <a href="{{ '/press' | prepend: site.baseurl }}">Press</a>
                        </li>
                        <li class="or-nav-link">
                            <a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a>
                        </li>
                        <li class="or-nav-highlight nav-highlight">
                            <a href="{{ '/store' | prepend: site.baseurl }}">STORE</a>
                        </li>
                    </ul>
                </nav>
