                <nav class="collapse navbar-collapse main-navbar" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu-item-object-oxy_mega_menu ">
                            <a href="{{ '/product' | prepend: site.baseurl }}">Product</a>
                        </li>
                        <li class="">
                            <a href="{ '/support' | prepend: site.baseurl }}">Support</a>
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Support</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="page-about-classic.html">About Us - Classic</a>
                                </li>
                                <li>
                                    <a href="page-service-2.html">Single Service - Fancy                                                    
                                        <span class="label menu-label label-primary">New!</span>
                                    </a>
                                </li>
                            </ul>-->
                        </li>
                        <li class="">
                            <a href="https://www.openexplorer.com" target="_blank"><img src="{{ '/assets/openrov/images/oeLogoSmall.png' | prepend: site.baseurl }}"></a>
                        </li>
                        <li class="">
                            <a href="{{ '/community' | prepend: site.baseurl }}">Community</a>
                        </li>
                        <li class="">
                            <a href="{{ '/gallery' | prepend: site.baseurl }}">Gallery</a>
                        </li>
                        <li class="">
                            <a href="{{ '/press' | prepend: site.baseurl }}">Press</a>
                        </li>
                        <li class="">
                            <a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a>
                        </li>
                        <li class="nav-highlight">
                            <a href="{{ '/store' | prepend: site.baseurl }}"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:white; padding-right:3px;"></i> Store</a>
                        </li>
                    </ul>
                </nav>
