        <div class="modal" id="modal-celery-pre-order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="v-container content">
                            <div class="v-box">

                                <div href="#" data-celery-trident="5637ca44df92ea03009633b3" data-celery="57e9bd02726ecc1100f4204a" data-celery-type="embed"
                                    class="btn btn-primary btn-white-magic btn-lg trk-banner-pre-order trk-mobile" target="_self">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>