<div class="section element-no-top element-no-bottom pre-order-banner" id='pre-order-banner'>

    <!--<section class="section section-text-shadow section-inner-shadow">-->
        <div class="container">
            <div class="row">
                <div class="col-md-9 ">
                    <h1 class="">
                        Pre Order your Trident
                    </h1>
                    <h3>
                        Pre-Order $1,199 
                    </h3>
                </div>
                <div class="col-md-3 text-center">
                    <div class="shipping">
                        Ships in November
                    </div>
                    <a href="https://shop.trycelery.com/page/5637ca44df92ea03009633b3" 
                        class="btn btn-primary btn-white-magic btn-lg " target="_self">                        
                        Pre order now
                    </a>
                </div>

            </div>
        </div>
    <!--</section>-->

</div>
