<div class="section element-no-top element-no-bottom pre-order-banner {% if include.appearOnScroll == false %} noShowOnScroll {% endif %}" id='pre-order-banner'>

    <!--<section class="section section-text-shadow section-inner-shadow">-->
        <div class="container">
            <div class="row hideOnMobile">
                <div class="col-md-9 text-center mobile-text-left ">
                    <h1 class="">
                        Pre-Order your Trident
                    </h1>
                </div>
                <div class="col-md-3 text-center button-container">
                    <a href="https://shop.trycelery.com/page/5637ca44df92ea03009633b3" 
                        class="btn btn-primary btn-white-magic btn-lg " target="_self">                        
                        PRE-ORDER NOW
                    </a>
                </div>

            </div>

            <div class="row hideOnDesktop">
                <div class="col-xs-12 text-center button-container">
                    <a href="https://shop.trycelery.com/page/5637ca44df92ea03009633b3" 
                        class="btn btn-primary btn-white-magic btn-lg " target="_self">                        
                        PRE-ORDER TRIDENT NOW
                    </a>
                    
                </div>
            </div>
        </div>
    <!--</section>-->

</div>
