.H1 {
  font-family: Lato;
  font-size: 70px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  color: $Secondary_Blue;
}

.Section-Title-LIT-Center {
  font-family: Lato;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $white;
}

.Content-Title-DRK-Left {
  font-family: Lato;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: $Primary_Blue;
}

.Content-Title-LIT-Left {
  font-family: Lato;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  color: $white;
}

.Section-Title-DRK-Center {
  font-family: Lato;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $Primary_Blue;
}

.Pre-Order-CTA-Center {
  font-family: Lato;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  text-align: center;
  color: $Pre_order;
}

.Content-Sub-Title-DRK-Center {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  text-align: center;
  color: $Primary_Blue;
}

.Content-Sub-title-LIT-Center {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  text-align: center;
  color: $white;
}

.Content-Sub-title-LIT-Left {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  color: $white;
}

.Content-Body-Dark-Center {
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  text-align: center;
  color: $Primary_Grey;
}

.Content-Body-LIT-Left {
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  color: $white;
}

.Content-Body-LIT-Center {
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  text-align: center;
  color: $white;
}

.Content-Body-Dark-Left {
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  color: $Primary_Grey;
}

.Nav-Link-LIT-Center {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  text-align: center;
  color: $white;
}

.Nav-Link-DRK-Left {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  color: $Primary_Blue;
}

.Micro-Sub-Title-LIT-Left {
  font-family: Lato;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: $white;
}

.Micro-Body-LIT-Left {
  font-family: Lato;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: $white;
}