@import './zeplin-definitions.scss';
@import './zeplin-styles.scss';


.or-hero-title {
    @extend .Hero-Title-Left-LIT;
    color: $Primary_White!important;
    text-align: left;
    font-size: 80px!important;
}

.or-hero-sub-title {
    @extend .Content-Sub-title-LIT-Left;
    text-align: left;
    color:white!important;
}

.or-hero-micro-title {
    @extend .Micro-Sub-Title-LIT;
}

.or-footer-micro-title {
    @extend .Micro-Sub-Title-LIT;
}

.or-footer-med-title {
    @extend .Micro-Sub-Title-LIT;
    font-size: 20px;
}

.or-footer-micro-body {
    @extend .Micro-Body-LIT;
    &> a:hover {
        text-decoration: underline;
    }
}

.or-hero-gradient {
      background-image: radial-gradient(circle at 47% 42%, rgba(0, 0, 0, 0.26), rgba(78, 173, 215, 0.67));
      width: 100%!important;
}

.or-nav-link a{
    @extend .Nav-Link-Default;
    color: $Primary_Blue!important;

    &:before {
        left: 15px!important;
        right: 15px!important;
        background-color: #55b2e4!important;
    }

    &:hover {
        color: #55b2e4!important;
    }

    &:active {
        color: #306582;
    }
    
    &:active:before {
        background-color: #306582;
    }
}

.or-nav-highlight a:after {
    transition: all 0.4s;
    background-color: #4e92df!important;
    background: radial-gradient(circle at 54% 55%, #55b2e4, #4e92df)!important;
}
.or-nav-highlight a:hover:after {
    background: #55b2e4!important;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.26);
}

.or-section-title-dark {
    &.left { text-align: left; }
    @extend .Section-Title-DRK;
    color: $Primary_Blue!important;
    line-height: 40px;
}

.or-content-sub-title-dark {
    &.left { text-align: left; }
    @extend .Content-Sub-Title-DRK;
    color: $Primary_Blue!important;

    small {
        font-size: smaller;
        font: 'Lato',sans-serif!important;
    }
}


.or-content-title-light-left {
    @extend .Content-Title-LIT-Left;
    color: $Primary_White!important;
    text-align: left;
}
.or-content-sub-title-light-left {
    @extend .Content-Sub-Title-LIT-Left;
    color: $Primary_White!important;
    text-align: left;
}

.or-content-body-dark {
    @extend .Content-Body-Dark;
    &.left { text-align: left; }
}


// button styles
.or-btn-shadow {
    &:hover {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.26)
    }
}
.or-hero-btn-pre-order {

  border-radius: 6px;
  background-color: #ffb538;
  background-image: linear-gradient(259deg, #ffb538, #ffb900 58%, #ffb638);
  border: solid 1px $Primaray_Spot_Color;
  padding: 20px 25px;
  line-height: 1em;

  &:hover {
      text-decoration: none;
      background-image: none;
      background-color: #E8AC04;
      border-color: #E8AC04;
  }    

  &:active {
        background-color: #E8AC04;
        text-decoration: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #E8AC04;
  }

  @extend .BTN-Pre-Order-CTA__;
  @extend .or-btn-shadow;
}

.or-button-blue {
    border-radius: 4px;
    background-color: $Secondary_Blue;
    background-image: radial-gradient(circle at 54% 55%, #55b2e4, #4e92df);
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.13;
    text-align: center;
    color: $Primary_White!important;
    padding: 3px 16px;

    &:hover {
        background-image: none;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.26);
    }
    @extend .or-btn-shadow;
}

.or-hero-btn-white-lg {

  border-radius: 6px;
  background-image:  radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #FFFFFF 50%, #B7B7B7 200%);
  border: solid 1px #fff;
  padding: 20px 25px;
  line-height: 1em;
  background-color: #ebebeb!important;
  border-color: #ebebeb!important;

  &:hover {
      background-image:  none;
      text-decoration: none;
      background-color: #ebebeb!important;
      border-color: #ebebeb!important;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.26);
  }    

  &:active {
      background-image: none;
        background-color: #B7B7B7;
        text-decoration: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #B7B7B7;
  }

  @extend .BTN-Pre-Order-CTA__;

}


.or-botton-line {    
    position: absolute;
    height: 4px!important;
    bottom: 0;
    @extend .Yellow-Border;
}

.or-darken-34 {    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.34;
    background-color: #000000;
    z-index: 10;    
}

.or-hero-blue-tint {    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.34;
    background-color: #000000;
    z-index: 10;  
    @extend .or-hero-gradient; 
  
}



// Additional styles

.Hero-Title-Left-LIT {
  object-fit: contain;
  font-family: 'Lato',sans-serif!important;
  font-size: 80px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.01;
  color: $Primary_White;
}

.BTN-Pre-Order-CTA__ {
  object-fit: contain;
  font-family: 'Lato',sans-serif!important;
  font-size: 23px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $Primary_Blue!important;
}

.Content-Sub-Title-LIT-Left {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  text-align: left;
  color: $Primary_White;
}

.Yellow-Border {
  background-image: linear-gradient(261deg, #ffb538, #ffb900 58%, #ffb638);
  border: solid 1px $Primaray_Spot_Color;
  height: 6px;
  width: 100%;
  opacity: .98;
  z-index: 1001;
  transition: all 0.4s;

}