/* Color palette */

$Primary_Blue: #1c4472;
$Primaray_Spot_Color: #ffb33b;
$Primary_White: #ffffff;
$Secondary_Blue: #3381ab;
$Tertiary_Blue: #2d6584;
$Primary_Grey: #4a4a4a;
$Secondary_White: #f5f5f5;
