/* Color palette */
$Primary_Blue: #1c4472;
$BTN_Blue_GRDNT_Light: #55b2e4;
$BTN_Blue_GRDNT_Drark: #4e92df;
$white: #ffffff;
$Pre_order: #11244f;
$Secondary_Blue: #3381ab;
$Primary_Grey: #4a4a4a;
$BTN_Pre_GRDNT_Yellow: #fff206;
$BTN_Pre_GRDNT_Pink: #ff08c6;
$BTN_Pre_GRDNT_Yellow2: #fef838;
$Tertiary_Blue: #2d6584;
$Off_white: #f5f5f5;
