<section id="products" class="section swatch-white element-medium-top element-medium-bottom">
    <div class="container">
        <div class="row element-medium-top">

            <div class="col-md-6 linkImage">
                {% include linkimage.html image='../assets/openrov/images/cards/2_8/open-rov-kit.jpg' url='http://openrov.dozuki.com/Guide' title='I bought a kit' subtitle='Start Building' %}
            </div>
            <div class="col-md-6 linkImage">
                {% include linkimage.html image='../assets/openrov/images/support/contact-support.jpg' url='https://openrov.zendesk.com/hc/en-us/requests/new' title='I need help' subtitle='Contact Support' %}
            </div>

        </div>
    </div>
</section>

