@import "themeDefinitions.scss";
section#components {

    .linkImage .background {
        height: 270px;

        .description {
            position: absolute;
            bottom: -110px;
        }

        .linkImage-arrow {
            top: 55px;
        }
    }

}
