<section class="section swatch-white" id="components">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <header class="element-small-top element-no-bottom">
                    <h1 class="or-section-title-dark element-medium-bottom">Parts &amp; Gear</h1>
                </header>
            </div>
        </div>

        <div class="row element-medium-bottom">

            <div class="col-md-3 linkImage text-center">
                {% include linkimage.html image='../assets/openrov/images/products/accessories.jpg' url='http://store.openrov.com/collections/accessories' subtitle='Upgrades &amp; Accessories' %}
            </div>

            <div class="col-md-3 linkImage text-center">
                {% include linkimage.html image='../assets/openrov/images/products/replacements.jpg' url='http://store.openrov.com/collections/components' subtitle='Replacement Parts' %}
            </div>

            <div class="col-md-3 linkImage text-center">
                {% include linkimage.html image='../assets/openrov/images/products/gear.jpg' url='http://store.openrov.com/collections/gear' subtitle='Gear' %}
            </div>

            <div class="col-md-3 linkImage text-center">
                {% include linkimage.html image='../assets/openrov/images/products/experimental.jpg' url='http://store.openrov.com/collections/experimental' subtitle='Experimental' %}
            </div>


        </div>
    </div>
</section>
