<section class="section swatch-white" id="promotions">
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-md-12 head-content">
                <div id="slider-flex12" class="flexslider " data-flex-speed="8000" 
                        data-flex-duration="1000" data-flex-animation="fade" data-flex-controls="show" 
                        data-flex-directions="show" data-flex-controlsalign="center" 
                            data-flex-controlsposition="inside"
                        data-flex-sliderdirection="horizontal" data-flex-controlsvertical="bottom">
                    <ul class="slides">
                        <li>
                            <div class="jumbotron  element-no-top element-no-bottom image image-overlay-text" 
                                style="background-image: url(../assets/openrov/images/hero/2-8-case.jpg);">
                                <div class="col-md-6 col-md-offset-2 text-left mobile-text-center content">
                                    <h1 class="or-hero-title mobile-text-center">&nbsp;<br>Open ROV 2.8</h1>
                                    <div class="description Content-Sub-Title-LIT-Left mobile-text-center">Build it Yourself!</div>
                                    <a href="openrov28/" class="btn btn-primary or-hero-btn-white-lg element-no-top " taget="_blank">LEARN MORE</a>
                                </div>
                                <div class="or-darken-34"></div>
                                <!--<div class="or-hero-blue-tint"></div>-->
                            </div>
                            
                        </li>
                        <li>
                            <div class="jumbotron  element-no-top element-no-bottom image image-overlay-text" 
                                style="background-image: url(../assets/openrov/images/hero/trident-ready-to-dive.jpg);">
                                <div class="col-md-6 col-md-offset-2 text-left mobile-text-center content">
                                    <h1 class="or-hero-title mobile-text-center">&nbsp;<br><img src="{{site.baseurl}}/assets/openrov/images/trident-logo.png"></h1>
                                    <!--<div class="description Content-Sub-Title-LIT-Left">Ready to Dive</div>-->
                                    <div class="description Content-Sub-Title-LIT-Left mobile-text-center">Pre-Built & Ready to Dive</div>
                                    <a href="trident/" class="btn btn-primary or-hero-btn-white-lg  element-no-top " taget="_blank">LEARN MORE</a>
                                </div>
                                <!--<div class="or-hero-blue-tint"></div>-->
                            </div>
                        </li>
                        <li>
                            <div class="jumbotron  element-no-top element-no-bottom image image-overlay-text" 
                                style="background-image: url(../assets/openrov/images/hero/camera-upgrade.jpg);">
                                <div class="col-md-6 col-md-offset-2 text-left mobile-text-center content">
                                    <h1 class="or-hero-title with-description mobile-text-center">OpenROV <br>Camera Upgrade</h1>
                                    <div class="description Content-Sub-Title-LIT-Left mobile-text-center">Professional HD 1080P Camera for Beatiful Underwater Video</div>
                                    <a href="http://store.openrov.com/collections/experimental/products/pro-camera-hd-upgrade" class="btn btn-primary or-hero-btn-white-lg  element-no-top " taget="_blank">LEARN MORE</a>
                                </div>
                                <div class="or-darken-34"></div>
                                <!--<div class="or-hero-blue-tint"></div>-->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>