@import "themeDefinitions.scss";
section#products {

    .item-arrow-base {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        &.right { right: 10px; }
    }


    .item {
      .background {
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;

        transition: all 0.4s;

        &:hover {
          transform:scale(1.05);
        }

        .description {
          padding-top: 5px;
          text-align: left;
        }

        .item-container {
          position:relative;
          height: 100%;
          background-color:  rgba(51, 129, 171, 0.2);
          transition: background-color 0.4s;

          &:hover {
           
            background-color: transparent;

            .item-arrow {
              display: inline-block;
            }
          }
        }

        .item-content {
          position: absolute;
          bottom: 0;
          height: 105px;
          width: 100%;
          padding-left: 25px;
          padding-right: 55px;
          z-index: 100;
        }

        .svg {
          // position: absolute;
          bottom: 33px;
        }

        .item-arrow {
          @extend .item-arrow-base;
          display: none;
        }

      }

    }


}
