<section id="products" class="section swatch-white element-medium-top element-medium-bottom">
    <div class="container">
            <!--<header class="text-center element-no-top element-no-bottom condensed os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                <h1 class="or-section-title-dark">
                </h1>
            </header>        -->

        <!--<div class="row element-medium-top product-bottom-row">-->
        <div class="row element-medium-top">

            <div class="col-md-6 linkImage">
                {% include linkimage.html image='../assets/openrov/images/cards/2_8/card_1_400x300.jpg' url='trident/' title='Trident' subtitle='Pre-built and ready to dive' %}
            </div>
            <div class="col-md-6 linkImage">
                {% include linkimage.html image='../assets/openrov/images/cards/2_8/card_2_400x300.jpg' url='openrov28/' title='OpenROV Kit' subtitle='Build your own underwater robot' %}
            </div>

        </div>
    </div>
</section>

