<section class="section swatch-white" id="promotions">
    <div class="container-fullwidth">
        <div class="row">

            <div class="col-md-12 head-content">
                <div id="slider-flex12" class="flexslider " data-flex-speed="8000" 
                        data-flex-duration="1000" data-flex-animation="fade" data-flex-controls="show" 
                        data-flex-directions="show" data-flex-controlsalign="center" 
                            data-flex-controlsposition="inside"
                        data-flex-sliderdirection="horizontal" data-flex-controlsvertical="bottom">
                    <ul class="slides">
                        <li>
                            <div class="jumbotron  element-no-top element-no-bottom image trident" 
                                style="background-image: url(../assets/openrov/images/cards/trident/trident-scenery-1200x900.jpg); background-position: 50% 60%">
                                {% include home/pre-order-content.html %}
                            </div>
                        </li>
                        <li>
                            <div class="jumbotron  element-no-top element-no-bottom image image-overlay-text" 
                                style="background-image: url(../assets/openrov/images/products/underwater-robot-starter-bundle-1200x500.jpg);">
                                <h1>Underwater Robot Starter Bundle on Sale Now!</h1>
                                <h1 class="element-no-top price orov2-8"><span class="price-was">Was: <span class="strikethrough">$1130</span></span> <span class="price-now">Now: $1100</span></h1>
                                <a href="http://store.openrov.com/collections/frontpage/products/openrov-v2-8-starter-bundle" class="btn btn-lg btn-primary element-short-top " taget="_blank">Shop now</a>
                            </div>
                        </li>
                        <li>
                            <div class="jumbotron  element-no-top element-no-bottom image image-overlay-text right black no-shadow" 
                                style="background-image: url(../assets/openrov/images/products/camera-upgrade-1200x500.jpg);">
                                <h1>New Prototype Camera Upgrade Available</h1>
                                <h1>Capture and Record Amazing Video</h1>
                                <h1> (Limited Offer $349)</h1>
                                <a href="http://store.openrov.com/collections/experimental/products/pro-camera-hd-upgrade" class="btn btn-lg btn-primary element-short-top " taget="_blank">Shop now</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>