#rov28 {
    .rov28 {
        // background-color: gray;
        // height: 400px;
        // background-image: url(../images/cards/2_8/card_1_1200x900.jpg);
        // background-size: cover;
        // background-position: center;
    }

    .overlay-container {
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        bottom: 0;
        text-align: center;
    }

    .overlay-content {
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
    }

}