<!--<section class="section swatch-white" id="rov28">
    <div class="container">-->
        <div class="row">
            <div class="col-md-12 text-center">
                <header class="element-normal-top element-no-bottom">
                    <h1 class="bigger hairline bordered bordered-normal">OpenROV 2.8 Kit</h1>
                </header>
            </div>
        </div>
        
        <div class="row">

            <div class="col-md-12 element-short-top element-no-bottom">
                <div class="">
                    <div class="rov28">
                        
                        <div class="videoWrapper">
                            <!-- to autoplay a video we need to set the playlist param to the videoID -->
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/r-zq_R3wKlI?version=3&playlist=r-zq_R3wKlI&loop=1&autoplay=1&rel=0&showinfo=0&controls=0&autohide=1"
                                frameborder="0" allowfullscreen></iframe>
                        </div>

                    </div>
                    <div class="container-fullwidth overlay-container">
                        <div class="overlay-content grid-overlay-20">
                            <div class="v-container">
                                <div class="v-box">
                                    <div class="image-overlay-text element-short-bottom">
                                        <h1>OpenROV 2.8 DIY Kit.</h1>
                                        <h2>You don't need to be an expert to build your own underwater robot.</h2>
                                    </div>
                                    <a href="https://www.google.com/url?q=http://store.openrov.com/products/openrov-v2-8-kit&sa=D&ust=1471917566531000&usg=AFQjCNFJp4pwmGgqaEYnM6gMj85vPPBoMA" target="_blank" 
                                    class="btn btn-primary btn-lg  element-no-top element-no-bottom" 
                                    target="_self" data-os-animation="none" data-os-animation-delay="0s ">
                                        Shop now
                                    </a><br>
                                    <a href="./openrov28" class="btn bt-primary btn-learn-more white element-short-top" 
                                        target="_self">Learn more
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

        </div>
    <!--</div>
</section>-->