<section class="section swatch-white" id="rov28">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <header class="element-normal-top element-no-bottom">
                    <h1 class="bigger hairline bordered bordered-normal">OpenROV 2.8 Kit</h1>
                </header>
            </div>
        </div>
        
        <div class="row">

            <div class="col-md-12 element-short-top element-no-bottom">
                <div class="">
                    <div class="rov28">

                        <iframe width="100%" height="600" src="https://www.youtube.com/embed/r-zq_R3wKlI?autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div class="container-fullwidth overlay-container">
                        <div class="overlay-content grid-overlay-20">
                            <div class="v-container">
                                <div class="v-box">
                                    <div class="image-overlay-text element-short-bottom">
                                        <h1>OpenROV 2.8 DIY Kit.</h1>
                                        <h2>You don't need to be an expert to build your own underwater robot.</h2>
                                    </div>
                                    <a href="./openrov28" 
                                    class="btn btn-primary btn-lg  element-no-top element-no-bottom" 
                                    target="_self" data-os-animation="none" data-os-animation-delay="0s ">
                                        Show now
                                    </a><br>
                                    <a href="./openrov28" 
                                    class="" 
                                    target="_self">
                                        Learn more
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

        </div>
    </div>
</section>