section#trident {
    .trident {
        // background-color: gray;
        height: 600px;
        background-image: url(../images/cards/trident/trident-scenery-1200x900.jpg);
        background-size: cover;
        background-position: center;
    }

    .background-overlay {
        left: 15px;
        right: 15px;
        width: inherit;
    }

    .overlay-container {
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        bottom: 0;
        text-align: center;
    }

    .overlay-content {
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
    }

    blockquote.quote {
        p {
            font-size: 2em;
            color: white!important;
            font-style: italic;
        }
        footer img {
            max-height: 1em;
            margin: 0 0 0 !important
        }
    }

}