<section class="section swatch-white" id="trident">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <header class="element-normal-top element-no-bottom">
                    <h1 class="bigger hairline bordered bordered-normal">Trident</h1>
                </header>
            </div>
        </div>
        
        <div class="row">

            <div class="col-md-12 element-short-top element-no-bottom">
                <div class="">
                    <div class="trident"></div>
                    <div class="container-fullwidth overlay-container">
                        <div class="overlay-content grid-overlay-20">
                            <div class="v-container">
                                <div class="v-box">
                                    <blockquote class="text-right quote">
                                    <p>The future of drones isn't in the skies. It's in the ocean.</p> 
                                    <footer>
                                        <img src="../assets/openrov/images/media/gizmodo_logo.png" class="invert">
                                    </footer> 
                                    </blockquote>
                                    <a href="https://shop.trycelery.com/page/5637ca44df92ea03009633b3" 
                                    class="btn btn-primary btn-lg   element-no-top element-no-bottom"  
                                    target="_self"> 
                                        Pre order now
                                    </a><br>
                                    <a href="./trident" class="btn bt-primary btn-learn-more white element-short-top" target="_self">Learn more</a>
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</section>