--- 
title: Community
layout: default
page_css: /assets/openrov/css/community.css
items: 
    - title: OpenROV GitHub
      image: github-logo.png
      isPicture: false
      link: https://github.com/OpenROV/
      animation: fadeInLeft
         
    - title: Hack / Mod Your<br> OpenROV
      image: openrov-hack-mod-400x300.jpg
      isPicture: true
      link: http://openrov.dozuki.com/c/Community_Hacks
      animation: fadeInUp
         
    - title: Gitter chat
      image: gitter-logo.png
      isPicture: false
      link: https://gitter.im/OpenROV
      animation: fadeInRight
         
    - title: OpenROV Hardware
      image: open-source-underwater-drone-400x300.jpg
      isPicture: true
      link: https://github.com/OpenROV/openrov-hardware
      animation: fadeInUp

    - title: OpenROV Software
      image: openrov-software-400x300.jpg
      isPicture: true
      link: https://github.com/OpenROV/openrov-software
      animation: fadeInBottom

    - title: OpenROV Electronics
      image: openrov-electronics-400x300.jpg
      isPicture: true
      link: https://github.com/OpenROV/openrov-electronics
      animation: fadeInBottom
                 
---
<!--{ % include community/head.html % }-->


<!--<section id="community" class="section swatch-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 element-medium-top  text-center">
                <h1 class="hairline bordered">Community</h1>
            </div>
        </div>
    </div>
</section>-->
<!--<a href="http://forum.openrov.com/" class="" 
    target="_self" data-os-animation="none"
    data-os-animation-delay="0s ">
<section id="community-forums" class="section swatch-blue section-text-shadow section-inner-shadow element-short-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-9">
                <header class="text-center  element-short-top element-short-bottom not-condensed" data-os-animation="none" data-os-animation-delay="0s">
                    <h1 class="big light bordered-normal text-right">
                        Join the OpenROV Forums:
                    </h1>
                </header>
            </div>
            <div class="col-md-4 col-xs-3" id="forums">
                <img src="{{site.baseurl}}/assets/openrov/images/support/forum-400x300.jpg" alt="OpenROV Forums" class="forums">
            </div>
        </div>
    </div>
</section>
</a>-->

<section id="community" class="section swatch-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <header class="element-normal-top element-no-bottom">
                    <h1 class="or-section-title-dark element-medium-bottom">OpenROV Community</h1>
                </header>
            </div>
        </div>
        
        <div class="row" id="forums">
            <div class="col-md-6 col-md-offset-3 linkImage">
                {% include linkimage.html image='../assets/openrov/images/support/forum-800x600.jpg' url='http://forum.openrov.com/c/help-and-support' title='Forum' subtitle='Connect with the community'  %}
            </div>            

        </div>
        
        <div class="row" id="developers"><!-- ID used for link -->
            <div class="col-md-12 element-medium-top">  
                <h1 class="or-content-sub-title-dark left">OpenROV Builder’s Resources</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 element-no-top element-tall-bottom">
                <div class="row ">

                    {% for item in page.items %}
                    <div class="col-md-4 linkImage">
                      {% capture image %}{{site.baseurl}}/assets/openrov/images/community/logos/{{item.image}}{% endcapture %}
                      {% include linkimage.html image=image url=item.link title=item.title  %}

                    </div>


                    {%endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

