<div class="head">
    <div class="icon">
        {% if include.svg %} <div class="svg">{% include {{include.svg}} %}</div> {% endif %}
    </div>
    <h1>Trident Is an Essential Boat Accessory.</h1>

</div>
<div class="description Content-Body-LIT-Left">
    Want to check the set on the anchor or see the condition of a mooring before tying off? With Trident you can easily inspect your boat. Instead of calling a diver, deploy Trident in seconds if you suspect damage to your hull, rudder, or prop. Trident earns its place on board every vessel whether at dock, sea, or anchor.  

    <ul class="element-short-top">
        <li>Deploy in seconds to see what's underwater</li>
        <li>Inspect props, rudders, hulls, and anchors</li>
        <li>Find fish and lobster</li>
    </ul>     
</div>