<div class="head">
    <div class="icon">
        {% if include.svg %} <div class="svg">{% include {{include.svg}} %}</div> {% endif %}
    </div>
    <h1>Trident Is an Essential Boat Accessory.</h1>

</div>
<div class="description Content-Body-LIT-Left">
    Want to check the set on the anchor? See for yourself the condition
    of that mooring before tying off? With Trident you can inspect your boat instead 
    of calling an expensive diver, toss it in if you suspect your rudder or prop are fouled, 
    or check for any damage after an incident. Trident earns its place on board every 
    vessel as a quick, affordable, and easy to use eye under the water, whether at dock, sea, or anchor. 

    <ul class="element-short-top">
        <li>Deploy in seconds to see what's underwater</li>
        <li>Inspect propellors, hulls, and anchors</li>
        <li>Find fish and lobster</li>
    </ul>     
</div>