<div class="head">
    <div class="icon">
        {% if include.svg %} <div class="svg">{% include {{include.svg}} %}</div> {% endif %}
    </div>
    <h1>Divers: Expand Your Capabilities, Go Deeper, and Dive Smarter.</h1>

</div>
<div class="description">
Know before you go and maximize your dive efficiency. Use Trident to scout your dive conditions and location before you suit up. Trident can dive quickly to 100m and is maneuverable and compact enough to explore deeper and more dangerous areas. During a surface interval, why not use Trident to find a new, never before seen dive site? The dive master can also keep an eye on everyone from the boat.


    <ul class="element-short-top">
        <li>Scout and find dive sites</li>
        <li>Explore up to 100m and more technical locations using Trident</li>
        <li>Stream live video to friends who can follow along on your dive from the boat</li>
    </ul>     
</div>