<div class="head">
    <div class="icon">
        {% if include.svg %} <div class="svg">{% include {{include.svg}} %}</div> {% endif %}
    </div>
    <h1>Explore and Inspire<br>&nbsp;</h1>

</div>
<div class="description">
Get inspired and inspire your friends and family with Trident. If you have ever been curious about what is underwater, then Trident is for you. There are so many amazing sites to discover in our own backyards. Trident is the easiest way to see what's underwater wherever you are.

    <ul class="element-short-top">
        <li>Easy, fast, and fun</li>
        <li>Capture beautiful video using Trident's underwater-optimized HD camera</li>
        <li>Share video with friends</li>
        <li>Join a community of explorers who share the same curiosity for the underwater world</li>
    </ul>     
</div>