<div class="head">
    <div class="icon">
        {% if include.icon %}<i class="fa {{include.icon}}" aria-hidden="true"></i>{% endif %}
        {% if include.svg %} <div class="svg">{% include {{include.svg}} %}</div> {% endif %}
    </div>
    <h1>Underwater Research Using Trident<br>&nbsp;</h1>

</div>
<div class="description">
Trident is a versatile software and hardware platform built from our maker roots. It comes standard with depth, heading, IMU sensors, and a WiFi buoy with onboard GPS. Trident also uses an all-digital camera and communications system with some of the latest industry standards.
    <ul class="element-short-top">
        <li>Upgradeable and expandable</li>
        <li>Trident has a mounting standard for new instrumentation, modules, or payloads</li>
        <li>Communication between Trident and it's peripherals is through a standard wireless protocol</li>
        <li>Open-source license so developers can create plug-ins</li>
    </ul>     
</div>