<div class="head">
    <div class="icon">
        {% if include.svg %} <div class="svg">{% include {{include.svg}} %}</div> {% endif %}
    </div>
    <h1>Underwater Research Using Trident</h1>

</div>
<div class="description Content-Body-LIT-Left">
Trident is a versatile software and hardware platform. It comes standard with depth, heading, IMU sensors, radio buoy with onboard GPS, all-digital HD camera, and wireless communications system.

    <ul class="element-short-top">
        <li>Upgradeable and expandable to meet the needs of your projects</li>
        <li>Trident has a mounting standard for new instrumentation, modules, or payloads</li>
        <li>Trident communicates with peripherals through a standard wireless protocol</li>
        <li>Open-source license allows developers to extend the software</li>
    </ul>     
</div>
