--- 
title: Products | OpenROV | Underwater Exploration Robots
layout: default
page_css: /assets/openrov/css/product.css
page_script: /assets/openrov/js/product.js
---
<article>

    {% include pre-order-banner.html %}

    {% include products/promotions.html %}

    <section class="section swatch-white">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6" id="trident">
                {% include products/trident.html %}
            </div>
            <div class="col-md-6" id="rov28">
                {% include products/rov28.html %}
            </div>
        </div>
    </div>
    
    {% include products/components.html %}

</article>
