---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>OpenROV | User Groups</title>
  <meta property="og:title" content="OpenROV | User Groups" />
  <meta property="og:description" content="OpenROV is an open-source, low-cost underwater robot for exploration and education.<br> It's also a passionate community of professional and amateur ocean explorers and technologists." />
  <meta property="og:image" content="http://www.openrov.com/assets/openrov/images/ogimage.jpg" />
  <meta property="og:url" content="http://www.openrov.com" />{% include headers.html %}
</head>

<body class="transparent-header">
  {% include header.html %}
  <article>
  <script type="text/javascript">
  var oxyThemeData = {
    navbarHeight: 90,
    navbarScrolled: 70,
    navbarScrolledPoint: 200,
    navbarScrolledSwatches:
  {
    up: 'swatch-white',
    down: 'swatch-black'
  },
  scrollFinishedMessage: 'No more items to load.',
  hoverMenu:
{
  hoverActive: false,
  hoverDelay: 1,
  hoverFadeDelay: 200
}
};
</script>
<section id="one" class="section swatch-white section-fullheight">
  <div class="container">
    <div class="row element-tall-top element-short-bottom">
      <div class="col-md-12">

    <p>OpenROV is a global phenomonan. Here is a listing of self forming rover communities around the world (if you would like to have your OpenROV group added, post an introduction of your group to our forums!):</p>
    <h2>North America</h2>
    <h3> BayArea OpenROV Users Group </h3>
    <ul>
      <li><b>Location:</b> Berkeley, California</li>
      <li><a hef="http://www.meetup.com/BayArea-OpenROV-Users-Group/">website</a>
      </li>
      <li><b>Description:</b> This group is for OpenROV users and enthusiasts in the Bay Area. If you need help building your underwater robot, if you want to share with like minded individuals we are here to help. Activities include build days, local expeditions to fly ROVs, and hack days. All skill levels and ages welcome.
      </li>
    </ul>
    <h2>Australia/New Zealand</h2>
    <h3> OpenROV Explorers Sydney </h3>
    <ul>
      <li><b>Location:</b> Sydney, Australia</li>
      <li><a hef="http://www.meetup.com/openrov-sydney/">website</a>
      </li>
      <li><b>Description:</b> We are a community of OpenROV Explorers - building ROVs - Remotely Operated Vehicles based on OpenROV and use them to do explorations
      </li>
    </ul>
    <h2>Europe</h2>
    <h3> Openrov Norway </h3>
    <ul>
      <li><b>Location:</b> Norway</li>
      <li><a hef="https://www.facebook.com/openrovnorway/">website</a>
      </li>
      <li><b>Description:</b> OpenROV Norway is the official page for all events and activity by OpenROVers in Norway.
      </li>
    </ul>
    <h3> OpenROV France </h3>
    <ul>
      <li><b>Location:</b> France</li>
      <li><a hef="https://www.facebook.com/pages/OpenROV-Denmark/">website</a>
      </li>
      <li><b>Description:</b> OpenROV est un robot sous-marin Open Source dont le but est de rendre l'Education & l’Exploration sous-marine possibles pour tous.
      </li>
    </ul>
    <!--
          Mexico
          Caribbean
          Central America
          South America
          Sub-Saharan Africa
          Middle East/North Africa
          Russia
          Turkey
          Central Asia
          South Asia
          East Asia
          Japan
          Southeast Asia
        -->

      </div>
    </div>
  </div>
</section>
</article>
</div>
{% include footer.html %}
</body>
</html>
