---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>OpenROV | Underwater Exploration Robots</title>
        <meta property="og:title" content="OpenROV | Underwater Exploration Robots" />
        <meta property="og:description" content="OpenROV is an open-source, low-cost underwater robot for exploration and education.<br> It's also a passionate community of professional and amateur ocean explorers and technologists." />
        <meta property="og:image" content="http://www.openrov.com/assets/openrov/images/ogimage.jpg" />
        <meta property="og:url" content="http://www.openrov.com" />
        {% include headers.html %}
        <script type="text/javascript">
  window.liveSettings = {
    api_key: "993f3545477f4aa8a4c0f28c3e08c11b",
    picker: "bottom-right",
    detectlang: true,
    dynamic: true,
    autocollect: true
  };
</script>
<script type="text/javascript" src="//cdn.transifex.com/live.js"></script>
  </head>
    <body class="transparent-header">
      {% include header.html %}
      <div id="content">
            <article>
                <script type="text/javascript">
                var oxyThemeData = {
                    navbarHeight: 90,
                    navbarScrolled: 70,
                    navbarScrolledPoint: 200,
                    navbarScrolledSwatches:
                    {
                        up: 'swatch-black',
                        down: 'swatch-black'
                    },
                    scrollFinishedMessage: 'No more items to load.',
                    hoverMenu:
                    {
                        hoverActive: false,
                        hoverDelay: 1,
                        hoverFadeDelay: 200
                    }
                };
                </script>

                <section id="one" class="section swatch-black section-text-shadow section-fullheight">
                    <div class="background-media" style="background-image: url('../assets/images/trident/trident-shot.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 0px;" data-start="background-position:50% 0px"
                    data-70-top-bottom="background-position:50% -80px">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
                                    <div class="visible-xs" style="height:150px;"></div>
                                    <div class="visible-sm" style="height:150px;"></div>
                                    <div class="visible-md" style="height:220px;"></div>
                                    <div class="visible-lg" style="height:220px;"></div>
                                </div>
                                <header class="text-center  element-no-top element-no-bottom not-condensed" data-os-animation="none" data-os-animation-delay="0s" data-70-top-bottom="opacity:0" data-start="opacity:1" data-center="opacity:1">
                                  <div id="front-jumbotron" class="jumbotron  element-normal-top element-tall-bottom os-animation animated fadeIn">

                                    <h1 class="super bold bordered bordered-normal">
                                      <img src="../assets/openrov/images/openrovBig.png" alt="OpenROV">
                                    </h1>
                                    <h2 class="big light no-bordered-header bordered-normal">
                            Trident Pre-Order Frequently Asked Questions
                                    </h2>

                                  </div>
                                </header>
                                <header class="text-center  element-no-top element-short-bottom condensed" data-os-animation="none" data-os-animation-delay="0s" data-70-top-bottom="opacity:0" data-start="opacity:1" data-center="opacity:1">
                                </header>
                                <a href="#two" class="scroll-to scroll-to-id  element-short-top element-short-bottom place-bottom" data-os-animation="none" data-os-animation-delay="0s">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                        <path fill="none" d="M65.473 42.382l-14.532 15.235-14.531-15.235"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>


                <section id="two" class="section swatch-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                              <p>
                              </p>
                              <h2 class="bordered bordered-small">
                                Frequently Asked Questions about Purchasing, Charging Credit Cards, and Fulfillment:
                              </h2>
                                <h3 class="normal bold ">
                                    When is my Trident going to ship?
                                </h3>
                                  <p class="">
                                    We can’t wait either, trust us. The answer is quite complicated and as we get closer each month we get better and more accurate information from our many suppliers, engineers, and contract manufacturers. The most up to date information goes into our monthly updates which can be found on the <a href="https://www.kickstarter.com/projects/openrov/openrov-trident-an-underwater-drone-for-everyone" target="_blank"> Kickstarter Trident page</a> or on our <a href="http://blog.openrov.com/" target="_blank">blog</a>. Please follow along and let us know if you have any questions.
                                  </p>
                                  <p class="bordered bordered-small">
                                    Prior to charging your credit card we will issue a target shipping date. OpenROV will make every effort to ensure you receive your Trident on or before this date. Any changes to this date will be emailed to you along with a full explanation of delay, a new target ship date, and any action needed.
                                </p>
                                  <h3 class="normal bold  ">
                                      When are you going to charge my credit card?
                                  </h3>
                                    <p class="">
                                      Credit cards will be charged several months ahead of delivery date.
                                    </p>
                                    <p class="">
                                      We will give you two weeks notice before charging your card. You may, at that time (or anytime before), change your credit card information or cancel your order. To make a change to your order click <a href="https://orders.trycelery.com/status/" target="_blank">here</a> and enter your order number and email address. You can find your order number in the confirmation email you should have received after placing a pre-order. Note: if you cancel your order you will lose your place in line for shipping priority and the locked in price from when you placed your order if you decide to order again later.
                                    </p>
                                    <p class="bordered bordered-small">
                                      You can request a refund at any time prior to shipping.
                                    </p>
                                    <h3 class="normal bold  ">
                                        Can you charge my credit card right now?
                                    </h3>
                                      <p class="bordered bordered-small">
                                        Right now we aren’t currently capturing early payments. We have plans to change this to accommodate customers who would want to. If you’d like to be notified when we are ready for this, please send an email to support@openrov.com. Charging early won't affect your place in line, fulfillment, or price of Trident.
                                      </p>
                                      <h3 class="normal bold b ">
                                          Can I pay using a bank transfer, paypal, or other method of payment?
                                      </h3>
                                        <p class="bordered bordered-small">
                                          Not at the moment, but hopefully we will be able to soon. If you require a different payment method, send an email to support@openrov.com and we will contact you when it becomes available.
                                        </p>
                                  <h3 class="normal bold  ">
                                        Why are you charging my credit card so far in advance?
                                  </h3>
                                    <p class="bordered bordered-small">
                                        We are using the funding from pre-orders for expanding Trident production. More specifically, purchasing tooling, components, and materials. If you want to know more about the process, we are publishing it in detail on the <a href="https://www.kickstarter.com/projects/openrov/openrov-trident-an-underwater-drone-for-everyone" target="_blank">Kickstarter Trident page</a> and on our <a href="http://blog.openrov.com/" target="_blank">blog</a>. Because many of the parts of Trident are highly specialized and custom manufactured our sources require payment for these items up front. Larger companies are able to draw on outside funding and sales for this, but Trident, as a crowdsourced project, relies on funding from community backers.
                                    </p>
                                  <h3 class="normal bold ">
                                        How can I add an extra tether and/or a carry case to my pre-order?
                                  </h3>
                                      <p class="">
                                        If we haven’t charged your credit card already, it’s easy--just email support@openrov.com. We will adjust your order and send you an email confirmation.
                                      </p>
                                      <p class="bordered bordered-small">
                                        If we have already charged your card don’t worry, we will offer the option to upgrade prior to shipping. These items may arrive separately from the original pre-order.
                                      </p>
                                    <h3 class="normal bold  ">
                                        How do I update my address and/or payment information for a pre-order?
                                    </h3>
                                      <p class="bordered bordered-small">
                                        You can change your shipping address and/or payment information anytime prior to your credit card being charged by clicking <a href="https://orders.trycelery.com/status/" target="_blank">here</a>.
                                      </p>
                                      <h3 class="normal bold ">
                                        What if I want to cancel my order?
                                      </h3>
                                        <p class="bordered bordered-small">
                                          You can cancel your order and receive a full refund any time prior to shipping. Simply follow the link <a href="https://orders.trycelery.com/status/" target="blank">here</a> and click “cancel order.” If you would like to cancel your order and have already been charged, you can email us at support@openrov.com and we will issue a refund.
                                        </p>
                                        <h3 class="normal bold  ">
                                          I have a great idea and I think it’s good enough to get some Tridents free or discounted.
                                        </h3>
                                          <p class="bordered bordered-small">
                                            We designed Trident for people who have a great idea and need access to tools like this but don’t have the budget for commercial ROVs. Because we are already priced for hobbyists and enthusiasts it’s not likely that we can give further discounts, but if you think we would be interested in hearing about your idea, send an email to support@openrov.com. You should also check out what other awesome people are already doing with OpenROV on <a href="https://openexplorer.com/home" target="_blank">OpenExplorer</a>. We hope you put your idea there too because it’s a great place to generate interest, find collaborators, and inspire others.
                                          </p>
                                            <h3 class="normal bold  ">
                                                Are there other ways to pay besides credit card?
                                            </h3>
                                              <p class="bordered bordered-small">
                                                Unfortunately pre-orders can only be processed with a credit card right now. If you have special requirements to purchase a Trident you may have to wait until after the pre-orders begin shipping. If you have any questions about this please contact support@openrov.com.
                                              </p>
                                              <h3 class="normal bold  ">
                                                  Is there volume pricing for companies and groups?
                                              </h3>
                                                <p class="bordered bordered-small">
                                                  Trident is already heavily discounted during the pre-order phase but for larger orders we can make arrangements for volume pricing. Please send an email to support@openrov.com and let us know what you’re thinking.
                                                </p>
                                                <h3 class="normal bold  ">
                                                    What about becoming a reseller?
                                                </h3>
                                                  <p class="bordered bordered-small">
                                                    Currently we don’t have an official policy regarding distribution or reselling. We are making some minor moves and testing some models out to see what will work for us. If you are interested in getting involved, please send an email to zack@openrov.com with information about your company including: what countries and languages you plan to be selling in, what other products you currently carry or plan to carry, what level of tech support you are prepared to offer, and anything else you think we would be interested in knowing.
                                                  </p>
                                                  <h3 class="normal bold  ">
                                                      Do you ship Trident internationally? What import taxes and duties do I need to pay?
                                                  </h3>
                                                    <p class="bordered bordered-small">
                                                      Trident ships internationally to most countries. Several countries have restrictions about shipping high value items to individuals. If you think you are in a country that might have problems, send an email to support@openrov.com and we will look into it with you.
                                                    </p>
                                                    <p class"bordered bordered-small">
                                                      Duties and taxes are required for importing goods to most countries. Every country has its own set of rules, taxes, and duties. Before ordering you should be aware of the possible charges. There are a few online calculators that will help you estimate your total landed cost but they are not guaranteed to be accurate. Some of these calculators require an harmonization code (HS code) to work, and while we don’t have one for Trident yet you might try <a href="http://www.dutycalculator.com/hs-lookup/937258/hs-tariff-code-for-drone/" target="_blank">this one</a> to get an idea.
                                                    </p>
                                                    <p>
                                                    </p>
                                          <h2 class="bordered bordered-small">
                                            Kickstarter Specific Questions:
                                          </h2>
                                          <h3 class="normal bold  ">
                                            How can I add an extra tether and/or a carry case to my Kickstarter pledge?
                                          </h3>
                                            <p class="bordered bordered-small">
                                              If you are a Kickstarter Trident backer  you will be able to add on the extras and upgrades at a kickstarter exclusive price and you will have a chance to do this prior to shipping.
                                            </p>
                                            <h3 class="normal bold  ">
                                              I missed out on the early Trident pricing, can I still get Trident at the early bird prices?
                                            </h3>
                                              <p class="bordered bordered-small">
                                                We wanted to give the biggest discounts to our earliest supporters. Although the Kickstarter early bird prices are no longer available, the pre-order price for Trident is still heavily discounted for a limited time.
                                              </p>
                                              <h3 class="normal bold  ">
                                                How do I update my shipping address as a Kickstarter backer?
                                              </h3>
                                                <p class="bordered bordered-small">
                                                  Email us at support@openrov.com and we can change it for you or wait to receive a shipping survey closer to Trident’s ship date.
                                                </p>
                            </div>
                        </div>
                    </div>


                      <div class="row element-normal-top" > <!-- next -->
                        <div class="col-md-12 text-center" style="height: 60px color:black">
                          <a href="#four" class="scroll-to scroll-to-id  element-short-top element-short-bottom place-bottom" data-os-animation="none" data-os-animation-delay="0s" style="bottom: 0">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                              <path fill="none" d="M65.473 42.382l-14.532 15.235-14.531-15.235"></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                </section> <!-- buy - build - explore -->
                <div class="bullet-nav">
                    <ul></ul>
                </div>
            </article>
        </div>
        {% include footer.html %}
    </body>
</html>
