<div>

    <div class="v-container">
        <div class="v-box zendesk">
            <style type="text/css" media="screen, projection">
            @import url(https://openrov.zendesk.com/stylesheets/public_satisfaction.css);
            </style>
            <script type="text/javascript" src="https://openrov.zendesk.com/satisfaction.js"></script>
            <script type="text/javascript">
            if (typeof(Satisfaction) !== "undefined") {
            Satisfaction.show({
            strings: {
            goodRatings:      "Said good",
            badRatings:       "Weren't so sure",
            score:            "Overall happiness",
            zendeskPlug:      "Powered by <a href='http://www.zendesk.com/'>Zendesk</a>"
            }
            });
            }
            </script>

        </div>

    </div>

    <div class="grid-overlay-30 hover-grid-overlay-90 orov-overlay" >
        <div class="orov-overlay-container vertical-middle" >
            <div class="col-md-12 text-center product-description">
                <a href="https://openrov.zendesk.com/hc/en-us/requests/new" target="_blank">
                    <h2 class="hilight">
                        Submit a new support request
                    </h2>
                </a>
            </div>
        </div>
    </div>


</div>