<div >
    <img class="cover" src="../assets/openrov/images/support/archeology-400x300.jpg" alt="Operations manual">
    <div class="grid-overlay-30 hover-grid-overlay-90 orov-overlay" >
        <div class="orov-overlay-container vertical-middle" >
            <div class="col-md-12 text-center product-description">
                <a href="http://openrov.dozuki.com/c/Operation" target="_blank">
                    <h2 class="hilight">
                        Operations manual
                    </h2>
                </a>
            </div>
        </div>
    </div>
   

</div>