--- 
title: Press 
layout: default
page_css: /assets/openrov/css/press.css
---

<section id="press" class="section swatch-white">
    <div class="background-overlay grid-overlay-10 " style="background-color: rgba(0,0,0,0);"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 element-medium-top  text-center">
                <h1 class="hairline bordered">Press</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="list-container row element-short-top element-normal-bottom">
                    
                    {% for item in site.data.press %}<div class="col-md-6 element-short-bottom os-animation text-left" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <blockquote class="blockquote-list">
                            <div class="image-container">
                                <div class="image">
                                    <img class="" src="{{ file.path | prepend: site.baseurl }}/assets/openrov/images/media/{{item.logo}}" alt="{{item.outlet}}" />
                                </div>
                            </div>
                            {% if item.title %}<p class="bold">{{item.title}}</p>{% endif %}
                            <p>
                                {{item.quote}}
                            </p>
                            <footer>
                                <a href="{{item.url}}"
                                    target="_blank">{{item.outlet}}, {{item.date}}</a>
                            </footer>
                        </blockquote>
                    </div>{% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>