--- 
---
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-M5WW27');</script>
        <!-- End Google Tag Manager -->        

        <meta charset="utf-8">
        {% seo %}

        <script type="application/ld+json">
            {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name" : "OpenROV Inc.",
            "url": "https://www.openrov.com",
            "sameAs" : [
                "http://www.openrov.com",
                "http://openrov.com",
                "https://openrov.com",
                "https://www.facebook.com/openrov",
                "https://www.instagram.com/openrov_hq",
                "https://twitter.com/openrov"
                ]
            }
        </script>
        <script type="application/ld+json">
            {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name" : "OpenROV Inc",
            "url": "https://www.openrov.com",
            "logo": "https://www.openrov.com/assets/openrov/images/openrov-dark.png",
            "image": "https://www.openrov.com/assets/openrov/images/openrov-dark.png",
            "description": "OpenROV is an open-source, low-cost underwater robot for exploration and education.",
        
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Berkeley",
                "addressRegion": "CA",
                "streetAddress": "2222 3rd St",
                "postalCode": "94710"
            }
        }
        </script>
        
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta name="google-site-verification" content="GCpgwdnU5lk4pS4YrIH1SFSYFyPy6I025COL2McYRcI" />

        <link rel="shortcut icon" href="{{ site.baseurl }}/assets/openrov/images/favicon/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-152x152.png" />
        
        {% if page.critical %}
        <style>
            .mejs-container { position: relative; background: none; font-family: Helvetica, Arial; text-align: left; vertical-align:
            top; text-indent: 0; height: 100%; } .mejs-container video { -webkit-background-size: cover; -moz-background-size: cover;
            -o-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: 0 0; }            
            .mejs-mediaelement { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position:
            50% 50%; background-repeat: no-repeat; }            
            
            {% include app.critical.css %}
            
        </style>
        
        {% endif %}

        {% if page.critical != true %}
            <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic,600italic'
                    rel='stylesheet' type='text/css'>        
            <link rel="stylesheet" href="/assets/main.css?rev=64c80e76ef4797eb31fa5c7f9c56a216">
            <link rel="stylesheet" media="screen and (max-width: 437px), screen and (max-height 437px)" href="/assets/mobile.css?rev=f822512b198daddecbbf8c286159d769"
                media="screen">
        {% endif %}

        {% if page.page_css %}
            {% for css in page.page_css %}
                {% assign cssPath = css | prepend: site.baseurl %}
                {% if css contains '//' %} {% assign cssPath = css %} {% endif %} 
        <link rel="stylesheet" href="{{ cssPath }}" media="screen">
            {% endfor %}
        {% endif %}

    </head>
    <body class="normal-header "><!--pace-on pace-counter-->

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5WW27"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div class="pace-overlay"></div>
        <div id="masthead" class="navbar navbar-static-top swatch-white navbar-sticky navbar-stuck" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--logo-->
                    <a href="{{ '/' | prepend: site.baseurl }}" class="navbar-brand">
                        <img src="{{ '/assets/openrov/images/openrov-dark.png' | prepend: site.baseurl }}" alt="OpenROV | Underwater Exploration Robots">
                    </a>
                </div>
                {% include nav.html %}
            </div>
        </div>
        <div id="content">
            {{ content }}
            {% include footer.html %}
        </div>
        <script src="{{site.baseurl}}/bower_components/jquery/dist/jquery.min.js"></script> <!-- query move/swipe requires 2.x -->
        <script src="{{site.baseurl}}/bower_components/jquery.event.move/js/jquery.event.move.js"></script>
        <script src="{{site.baseurl}}/bower_components/jquery.event.swipe/js/jquery.event.swipe.js"></script>
        
        <script async src="https://www.trycelery.com/js/celery.js"></script>

        <script src="{{ '/assets/theme/theme.js' | prepend: site.baseurl }}"></script>
        <script src="/assets/js/main.js?rev=f693291105cafe93a107d4da0be87f1a"></script>
        <script src="/assets/js/mailchimp.js?rev=b0d95b0fa266903ca60d6f785ced8b6d"></script>
        <script src="/assets/js/support.js?rev=32fe2684ac119abd32c4d4812168c55e"></script>

        <!--contact support overlay -->
        {% include contact-support.html %}
        <!--/contact support overlay -->

        {% if page.page_script %}
            {% for item in page.page_script %}
                {% assign itemPath = item | prepend: site.baseurl %}
                {% if item contains '//' %} {% assign itemPath = item %} {% endif %} 
        <script type="text/javascript" src="{{ itemPath }}"></script>
            {% endfor %}
        {% endif %}

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-18444815-2', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->        


{% if page.critical %}
        <noscript id="deferred-styles">
            <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic,600italic'
                    rel='stylesheet' type='text/css'>        
            <link rel="stylesheet" href="/assets/main.css?rev=64c80e76ef4797eb31fa5c7f9c56a216">
            <link rel="stylesheet" media="screen and (max-width: 437px), screen and (max-height 437px)" href="/assets/mobile.css?rev=f822512b198daddecbbf8c286159d769"
                media="screen">
        </noscript>

        <script>
            var loadDeferredStyles = function () {
                var addStylesNode = document.getElementById("deferred-styles");
                var replacement = document.createElement("div");
                replacement.innerHTML = '{{site.baseUrl}}' + addStylesNode.textContent;
                document.body.appendChild(replacement)
                addStylesNode.parentElement.removeChild(addStylesNode);
            };
            var raf = requestAnimationFrame || mozRequestAnimationFrame ||
                webkitRequestAnimationFrame || msRequestAnimationFrame;
            if (raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
            else window.addEventListener('load', loadDeferredStyles);
        </script>        
{% endif %}

    </body>
</html>
