--- 
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | OpenROV | Underwater Exploration Robots</title>
        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
        <meta property="og:description" content="OpenROV is an open-source, low-cost underwater robot for exploration and education.<br> It's also a passionate community of professional and amateur ocean explorers and technologists." />
        <meta property="og:image" content="{{ '/assets/openrov/images/ogimage.jpg' | prepend: site.baseurl }}" />
        <meta property="og:url" content="http://www.openrov.com" />
        <meta name="google-site-verification" content="6sqA5KNpZtZaQPB-78QcD8CDqXsbhOiqpZGvmNxYDI4" />

        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">

        <link rel="shortcut icon" href="{{ site.baseurl }}/assets/openrov/images/favicon/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/openrov/images/favicon/apple-touch-icon-152x152.png" />
        
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ '/assets/css/theme.css' | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ '/assets/css/color-defaults.min.css' | prepend: site.baseurl }}" media="screen">
        <link rel="stylesheet" href="{{ '/assets/css/swatch-white.min.css' | prepend: site.baseurl }}" media="screen">
        <link rel="stylesheet" href="{{ '/assets/css/swatch-gray.min.css' | prepend: site.baseurl }}" media="screen">
        <link rel="stylesheet" href="{{ '/assets/css/fonts.css' | prepend: site.baseurl }}" media="screen">
        
        <link rel="stylesheet" href="{{ '/assets/openrov/css/theme.css' | prepend: site.baseurl }}" media="screen">
        {% if page.page_css %}
            {% for css in page.page_css %}
                {% assign cssPath = css | prepend: site.baseurl %}
                {% if css contains '//' %} {% assign cssPath = css %} {% endif %} 
        <link rel="stylesheet" href="{{ cssPath }}" media="screen">
            {% endfor %}
        {% endif %}
    </head>
    <body class="normal-header "><!--pace-on pace-counter-->
        <div class="pace-overlay"></div>
        <div id="masthead" class="navbar navbar-static-top swatch-white navbar-sticky" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--logo-->
                    <a href="{{ '/' | prepend: site.baseurl }}" class="navbar-brand">
                        <img src="{{ '/assets/openrov/images/openrov-dark.png' | prepend: site.baseurl }}" alt="OpenROV | Underwater Exploration Robots">
                    </a>
                </div>
                {% include nav.html %}
            </div>
        </div>
        <div id="content">
            {{ content }}
            {% include footer.html %}
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script> <!-- query move/swipe requires 2.x -->
        <script src="bower_components/jquery.event.move/js/jquery.event.move.js"></script>
        <script src="bower_components/jquery.event.swipe/js/jquery.event.swipe.js"></script>

        <script src="{{ '/assets/js/packages.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/js/theme.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/assets/openrov/js/main.js' | prepend: site.baseurl }}"></script>

        {% if page.page_script %}
            {% for item in page.page_script %}
                {% assign itemPath = item | prepend: site.baseurl %}
                {% if item contains '//' %} {% assign itemPath = item %} {% endif %} 
        <script type="text/javascript" src="{{ itemPath }}"></script>
            {% endfor %}
        {% endif %}
    </body>
</html>
