@import "themeDefinitions.scss";
section#head {

    @mixin header-height() {
            @media screen and (max-height: #{$heightNexus6P}) { 
                height: 645px;
            }
            @media screen and (max-height: #{$heightNexus5x-iPhone6P}) { 
                height: 605px;
            }
            @media screen and (max-height: #{$heightiPhone6}) { 
                height: 535px;
            }

            @media screen and (max-height: #{$heightNexus5}) { // and iPhone5
                height: 440px;
            }            
    }

    .flexslider {

        $height: 600px;

        .background-media {
            height: $height;

            @include header-height();
        }

        li.video {
            .jumbotron { 
                background-color: transparent;
                padding-bottom: 0;

                @media #{$mobileMedia} {
                    .container {
                        .pre-order-container .pre-order {
                            position: absolute;
                            bottom: .5em;


                            @media screen and (max-height: #{$heightNexus6P}) {
                                bottom: 12em;
                            }
                            @media screen and (max-height: #{$heightNexus5x-iPhone6P}) {
                                bottom: 9em;
                            }
                            @media screen and (max-height: #{$heightiPhone6}) {
                                bottom: 5em;
                            }
                            @media screen and (max-height: #{$heightNexus5}) {
                                bottom: 1em;
                            }


                            .btn {
                                margin-bottom: .2em;
                            }

                            .price {
                                padding-bottom: 4em;
                            }
                        }
                    }
                }
            }

            @media #{$mobileMedia} {            
                .mejs-mediaelement > video {
                    left: -300px
                }
            }
        }

        .jumbotron {    
            background-size: cover;
            background-position: center;
            height: $height;

            h1 {
                font-size: 2em;
                text-shadow: 2px 2px 2px rgba(0,0,0, 0.6);
            }

            @include header-height();

            @import "home/pre-order-content.scss";

        }

    }

}