<section class="section swatch-white">
    <div class="container-fullwidth">
        <div class="row">

            <div class="col-md-12">
                <div id="slider-flex12" class="flexslider " data-flex-speed="8000" 
                        data-flex-duration="1000" data-flex-animation="fade" data-flex-controls="show" 
                        data-flex-directions="hide" data-flex-controlsalign="center" 
                            data-flex-controlsposition="inside"
                        data-flex-sliderdirection="horizontal" data-flex-controlsvertical="bottom">
                    <ul class="slides">
                        <li>
                            <figure>
                                <img src="assets/openrov/images/hero/trident.jpg" alt="Trident">
                                <figcaption>
                                    {% include home/pre-order-content.html %}
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="assets/openrov/images/hero/trident2.jpg" alt="Trident"">
                                <figcaption>
                                    {% include home/pre-order-content.html %}
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="assets/openrov/images/hero/trident3.jpg" alt="Trident"">
                                <figcaption>
                                    {% include home/pre-order-content.html %}
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>