<section class="section swatch-white" id="head">
    <div class="container-fullwidth">
        <div class="row">

            <div class="col-md-12 head-content">
                <div id="slider-flex12" class="flexslider " data-flex-speed="8000" 
                        data-flex-duration="1000" data-flex-animation="fade" data-flex-controls="show" 
                        data-flex-directions="hide" data-flex-controlsalign="center" 
                            data-flex-controlsposition="inside"
                        data-flex-sliderdirection="horizontal" data-flex-controlsvertical="bottom">
                    <ul class="slides">

                        <li class="video element-no-bottom">
                            <div class="background-media" data-start="background-position:" data-70-top-bottom="background-position:">
                                <video style="width: auto; height: 100%;" loop autoplay class="section-background-video" poster="https://s3.amazonaws.com/openrov-com-assets/videos/hilights.png">
                                    <source type="video/mp4" src="https://s3.amazonaws.com/openrov-com-assets/videos/tridenthilights.mp4" media="screen and (min-device-width:801px)">
                                    <source type="video/mp4" src="https://s3.amazonaws.com/openrov-com-assets/videos/tridenthilights.mob.mp4" media="screen and (max-device-width:800px)">
                                </video>
                            </div>
                            <div class="container element-no-bottom hero">
                                <div class="row full-height">
                                    <div class="col-md-9 col-md-offset-2 full-height">
                                        <div class="v-container">
                                            <div class="v-box fullwidth ">
                                                <div class="row ">
                                                    <div class="col-md-6">
                                                        <h1>Trident</h1>
                                                        <div class="description element-short-top">
                                                            Pre-order today and be one of the first to get a Trident underwater drone.
                                                            Pre-orders ship starting in early 2017.
                                                        </div>                 
                                                        <h2 class="element-short-top">
                                                            Pre-Order $1,199  
                                                        </h2>                       
                                                    </div>
                                                    <div class="col-md-4 pull-right">
                                                        <div class="shipping">
                                                            Ships in November
                                                        </div>
                                                        <a href="https://shop.trycelery.com/page/5637ca44df92ea03009633b3" class="btn btn-lg btn-primary" taget="_blank">Pre order now</a><br>
                     
                                                    </div>
                                                    
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include home/media.html %}
</section>