<section class="section swatch-white">
    <div class="container-fullwidth">
        <div class="row">

            <div class="col-md-12">
                <div id="slider-flex12" class="flexslider " data-flex-speed="8000" 
                        data-flex-duration="1000" data-flex-animation="fade" data-flex-controls="show" 
                        data-flex-directions="hide" data-flex-controlsalign="center" 
                            data-flex-controlsposition="inside"
                        data-flex-sliderdirection="horizontal" data-flex-controlsvertical="bottom">
                    <ul class="slides">
                        <li>
                            <figure>
                                <img src="assets/openrov/images/hero/trident.jpg" alt="Trident">
                                <figcaption>
                                    <div class="container">
                                        <div class="ships-in-november">
                                            <h2>Ships in November</h2>
                                        </div>
                                        <div class="pre-order-container">
                                            <div class="pre-order">
                                                <div class="price">
                                                    <h1>Pre-Order $1,199</h1>
                                                    <h2>(MSR $1,499)</h2>
                                                </div>
                                                <div class="buttons">
                                                    <a href="#" class="btn btn-lg btn-primary">Pre order</a><br>
                                                    <a href="/learnmore">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="assets/openrov/images/hero/trident2.jpg" alt="Trident"">
                                <figcaption>
                                    <div class="container">
                                        <div class="ships-in-november">
                                            <h2>Ships in November</h2>
                                        </div>
                                        <div class="pre-order-container">
                                            <div class="pre-order">
                                                <div class="price">
                                                    <h1>Pre-Order $1,199</h1>
                                                    <h2>(MSR $1,499)</h2>
                                                </div>
                                                <div class="buttons">
                                                    <a href="#" class="btn btn-lg btn-primary">Pre order</a><br>
                                                    <a href="/learnmore">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="assets/openrov/images/hero/trident3.jpg" alt="Trident"">
                                <figcaption>
                                    <div class="container">
                                        <div class="ships-in-november">
                                            <h2>Ships in November</h2>
                                        </div>
                                        <div class="pre-order-container">
                                            <div class="pre-order">
                                                <div class="price">
                                                    <h1>Pre-Order $1,199</h1>
                                                    <h2>(MSR $1,499)</h2>
                                                </div>
                                                <div class="buttons">
                                                    <a href="#" class="btn btn-lg btn-primary">Pre order</a><br>
                                                    <a href="/learnmore">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>