@import "themeDefinitions.scss";
section#head {

    @mixin header-height() {
            @media screen and (max-height: #{$heightNexus6P}) { 
                height: 645px;
            }
            @media screen and (max-height: #{$heightNexus5x-iPhone6P}) { 
                height: 605px;
            }
            @media screen and (max-height: #{$heightiPhone6}) { 
                height: 535px;
            }

            @media screen and (max-height: #{$heightNexus5}) { // and iPhone5
                height: 440px;
            }            
    }

    .flexslider {

        $height: 600px;

        .background-media {
            height: $height;

            @include header-height();
        }

        li.video {
            .jumbotron { 
                background-color: transparent;
                padding-bottom: 0;

                @media #{$mobileMedia} {
                    .container {
                        .pre-order-container .pre-order {
                            position: absolute;
                            bottom: .5em;


                            @media screen and (max-height: #{$heightNexus6P}) {
                                bottom: 12em;
                            }
                            @media screen and (max-height: #{$heightNexus5x-iPhone6P}) {
                                bottom: 9em;
                            }
                            @media screen and (max-height: #{$heightiPhone6}) {
                                bottom: 5em;
                            }
                            @media screen and (max-height: #{$heightNexus5}) {
                                bottom: 1em;
                            }


                            .btn {
                                margin-bottom: .2em;
                            }

                            .price {
                                padding-bottom: 4em;
                            }
                        }
                    }
                }
            }

            @media #{$mobileMedia} {            
                .mejs-mediaelement > video {
                    left: -300px
                }
            }
        }

        .hero {    
            background-size: cover;
            background-position: center;
            height: $height;
            color: white;

            text-align: left;

            div.full-height {
                height: 100%;
            }

            h1 {
                text-align: left;
                color: white;
                font-weight: 300;
                font-size: 80px;
                line-height: 0.65;

            }
            h2 {
                text-align: left;
                color: white;
                font-size: 20px;
            }
            .description {
                text-align: left;
                color: white;
                font-weight: 400;
                font-size: 20px;
            }

            .shipping {
                object-fit: contain;
                font-size: 15px;
                font-weight: bold;
                line-height: 1.33;
                letter-spacing: 0.8px;
                text-align: center;
                margin-bottom: 10px;
           }

           .btn-primary {
                width: 240px;
                height: 80px;
                object-fit: contain;
                border-radius: 6px;
                background-image: radial-gradient(circle at 52% 50%, #fef838, #FFB339);

                font-size: 25px;
                line-height: 80px;
                text-align: center;
                color: #11244f;               
                padding: 0;
           }

            .v-box {
                margin-top: -100px;
            }

            @include header-height();

        }

    }

    .ships-in-november h2 {
        text-shadow: initial;
    }

    @import 'home/media.scss';

}