@import "themeDefinitions.scss";
section#head {

    .flexslider {

        .background-media {
            height: $height;

            @include header-height();
        }

        li.video {
            .jumbotron { 
                background-color: transparent;
                padding-bottom: 0;

                @media #{$mobileMedia} {
                    .container {
                        .pre-order-container .pre-order {
                            position: absolute;
                            bottom: .5em;


                            @media screen and (max-height: #{$heightNexus6P}) {
                                bottom: 12em;
                            }
                            @media screen and (max-height: #{$heightNexus5x-iPhone6P}) {
                                bottom: 9em;
                            }
                            @media screen and (max-height: #{$heightiPhone6}) {
                                bottom: 5em;
                            }
                            @media screen and (max-height: #{$heightNexus5}) {
                                bottom: 1em;
                            }


                            .btn {
                                margin-bottom: .2em;
                            }

                            .price {
                                padding-bottom: 4em;
                            }
                        }
                    }
                }
            }

            @media #{$mobileMedia} {            
                .mejs-mediaelement > video {
                    left: -300px
                }
            }
        }

        @import 'pre-order-content.scss'

    }

    .ships-in-november h2 {
        text-shadow: initial;
    }

    @import 'home/media.scss';

}