<section id="media" class="section swatch-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="text-center element-short-top element-short-bottom not-condensed">
                    <div class="logos">
                        <a href="http://www.nytimes.com/2016/06/27/technology/a-drone-start-up-explores-underwater.html?_r=0" target="_blank">
                            <img src="assets/openrov/images/media/nyt_logo.png" alt="New York Times">
                        </a>

                        <a href="http://www.wired.com/2014/11/citizen-explorers-meet-new-submersible/" target="_blank">
                            <img src="assets/openrov/images/media/wired_logo.png" alt="Wired">
                        </a>

                        <a href="http://www.popsci.com/drone-for-everyday-cousteau" target="_blank">
                            <img src="assets/openrov/images/media/popsci_logo.png" alt="Popular Science">
                        </a>

                        <a href="https://techcrunch.com/2015/10/29/underwater-drone-startup-openrov-launches-a-super-fast-exploration-robot/" target="_blank">
                            <img src="assets/openrov/images/media/tech_crunch_logo.png" alt="Tech Crunch">
                        </a>

                        <a href="http://gizmodo.com/new-ultrafast-swimming-drones-are-tiny-ocean-explorers-1735342168" target="_blank"
                            class="hideOnMobile">
                            <img src="assets/openrov/images/media/gizmodo_logo.png" alt="Gizmodo">
                        </a>

                        <a href="http://ideas.ted.com/how-to-investigate-the-bottom-of-the-ocean-without-getting-wet-2/" target="_blank" 
                            class="hideOnMobile">
                            <img src="assets/openrov/images/media/ted_logo.png" alt="TED">
                        </a>

                    </div>
                </header>
            </div>
        </div>
    </div>
</section>