                <section id="media" class="section swatch-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <header class="text-center element-short-top element-short-bottom not-condensed">
                                    <div class="logos">
                                        <a href="http://www.nytimes.com/2016/06/27/technology/a-drone-start-up-explores-underwater.html?_r=0" style="margin-top:2px" target="_blank"><img src="assets/openrov/images/media/nyt.png" alt="New York Times"></a>
                                        <a href="http://ideas.ted.com/lets-kickstart-science-in-america/" target="_blank"><img src="assets/openrov/images/media/ted.png" alt="TED"></a>
                                        <a href="http://www.wired.com/2014/11/citizen-explorers-meet-new-submersible/" target="_blank"><img src="assets/openrov/images/media/wired.png" alt="Wired"></a>
                                        <a href="http://www.fastcompany.com/3036896/open-explorer-is-a-national-geographic-for-remote-operated-vehicles" target="_blank"><img src="assets/openrov/images/media/fastco.png" alt="FastCompany"></a>
                                    </div>
                                </header>
                            </div>
                        </div>
                    </div>
                </section>
