<section id="openexplorer" class="section swatch-gray">
    <!--<div class="background-overlay grid-overlay-20 " style="background-color: rgba(0,0,0,0.4);"></div>-->
    <div class="container element-medium-top">
        <div class="background-media" style="">
        </div>
        <div class="row">
            <div class="col-md-12" style="z-index:10; height:809px">
                <header class="text-center  element-tall-top element-medium-bottom not-condensed " style="padding-top:6em">
                    <h1 class="or-section-title-dark">
                        What will you explore?
                    </h1>
                    <div class="col-md-4 col-md-offset-4">

                        The OpenROV community is exploring shipwrecks, finding ancient Mayan pottery, spotting illusive sea creatures, exploring lakes, hunting for buried treasure, observing pollution in metropolitan rivers, and inspiring thousands to explore.
                        <a href="https://www.openexplorer.com" class="btn or-button-blue element-short-top" taget="_blank">Join our community of explorers now</a>
                    </div>
                    
                </header>
            </div>
        </div>
    </div>
</section>