<section id="openexplorer" class="section swatch-black section-inner-shadow">
    <div class="background-media" style="background-image: url('assets/openrov/images/hero/openexplorer.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50%;"
        data-start="background-position:50% 0px" data-70-top-bottom="background-position:50% 50px">
    </div>
    <div class="background-overlay grid-overlay-20 " style="background-color: rgba(0,0,0,0.4);"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
                    <div class="visible-xs" style="height:60px;"></div>
                    <div class="visible-sm" style="height:60px;"></div>
                    <div class="visible-md" style="height:120px;"></div>
                    <div class="visible-lg" style="height:180px;"></div>
                </div>
                <header class="text-center  element-tall-top element-tall-bottom not-condensed os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h1 class="super hairline bordered-normal">
                        OpenExplorer - Join our citizen explorers
                    </h1>
                    <a href="#">Learn more</a>
                </header>
                <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
                    <div class="visible-xs" style="height:60px;"></div>
                    <div class="visible-sm" style="height:60px;"></div>
                    <div class="visible-md" style="height:120px;"></div>
                    <div class="visible-lg" style="height:180px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>