<div class="container">
    <div class="ships-in-november">
        <h2>Ships in November</h2>
    </div>
    <div class="pre-order-container">
        <div class="pre-order">
            <div class="price">
                <h1>Pre-Order $1,199</h1>
                <h2>(MSR $1,499)</h2>
            </div>
            <div class="buttons">
                <a href="#" class="btn btn-lg btn-primary">Pre order</a><br>
                <a href="/learnmore">Learn more</a>
            </div>
        </div>
    </div>
</div>
