<div class="container">
    <div class="ships-in-november">
        <h2>Ships in November</h2>
    </div>
    <div class="pre-order-container">
        <div class="pre-order">
            <div class="price">
                <h1>Pre-Order $1,199</h1>
                <h2>(MSRP $1,499)</h2>
            </div>
            <div class="buttons">
                <a href="https://shop.trycelery.com/page/5637ca44df92ea03009633b3" class="btn btn-lg btn-primary" taget="_blank">Pre order</a><br>
                <a href="{{ site.baseurl }}/products/trident" class="btn bt-primary btn-learn-more white">Learn more</a>
            </div>
        </div>
    </div>
</div>
