                        <div class="container or-hero-gradient">
                            <div class="container element-no-bottom hero">
                                <div class="row full-height">
                                    <div class="col-md-9 col-md-offset-2 full-height">
                                        <div class="v-container">
                                            <div class="v-box fullwidth ">
                                                <div class="row ">
                                                    <div class="col-md-6">
                                                        <h1 class="or-hero-title"> {% if include.title %}{{include.title}}
                                                            {% else %}Trident{% endif %}
                                                        </h1>
                                                        {% if include.description %}
                                                        <div class="or-hero-sub-title element-no-top">
                                                            See underwater like never before. 
                                                        </div>                 
                                                        {% endif %}
                                                        <!--<h2 class="element-short-top">
                                                            Pre-Order $1,199  
                                                        </h2>               
                                                        {% if include.retail %}        
                                                        <h2 class="element-no-top">
                                                            (Retail: $1,499) 
                                                        </h2>                 
                                                        {% endif %}      -->
                                                    </div>
                                                    <div class="col-md-4 pull-right buttons">
                                                        <a href="https://shop.trycelery.com/page/5637ca44df92ea03009633b3" class="or-hero-btn-pre-order btn" taget="_blank">PRE-ORDER NOW</a><br>

                                                        <div class="or-hero-micro-title">
                                                            Shipping Early 2017
                                                        </div>
                      
                                                        {% if include.hideLearnMore != true %}
                                                        <a href="products/trident" class="btn or-hero-btn-pre-order white element-short-top" taget="">Learn more</a>
                                                        {% endif %}
                                                    </div>
                                                    
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
