@import "themeDefinitions.scss";
    
    .hero {    
        background-size: cover;
        background-position: center;
        height: $height!important;
        color: white;

        text-align: left;

        .title>h1>img {
            margin-top: 8px;
            height: 55px;
            width: auto;
            margin-left: 0;
        }

        div.full-height {
            height: 100%;
        }

        .or-hero-sub-title {
            padding-top: 25px;
            margin-left: 5px;
            line-height: 1.3;            
        }

        .or-hero-micro-title {
            padding-top: 10px;
        }

        .v-box {
            margin-top: -20px;
        }

        @include header-height();

    }