@import "themeDefinitions.scss";
    
    .hero {    
        background-size: cover;
        background-position: center;
        height: $height;
        color: white;

        text-align: left;

        div.full-height {
            height: 100%;
        }

        h1 {
            text-align: left;
            color: white;
            font-weight: 300;
            font-size: 80px;
            line-height: 0.65;

        }
        h2 {
            text-align: left;
            color: white;
            font-size: 20px;
        }
        .description {
            text-align: left;
            color: white;
            font-weight: 400;
            font-size: 20px;
        }

        .shipping {
            object-fit: contain;
            font-size: 15px;
            font-weight: bold;
            line-height: 1.33;
            letter-spacing: 0.8px;
            text-align: center;
            margin-bottom: 10px;
        }

        .btn-primary {
            width: 240px;
            height: 80px;
            object-fit: contain;
            border-radius: 6px;
            background-image: radial-gradient(circle at 52% 50%, #fef838, #FFB339);

            font-size: 25px;
            line-height: 80px;
            text-align: center;
            color: #11244f;               
            padding: 0;
        }

        .v-box {
            margin-top: -100px;
        }

        @include header-height();

    }