<section id="product" class="section swatch-white element-medium-top element-medium-bottom">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-12">
                <header class="text-center element-tall-top element-no-bottom os-animation condensed" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h1 class="bigger hairline bordered bordered-normal">
                        Trident specifications
                    </h1>
                </header>
            </div>-->
            <div class="col-md-12">
                <div class="pre-order-content-container">
                    {% include home/pre-order-content.html %}
                </div>
            </div>
        </div>
        <div class="row element-medium-top product-bottom-row">
            <div class="col-md-6">
                <div class="product-left">
                    <div class="product-left-container">
                        <div class="item text-center">
                            <h2>Something</h2>
                            <a href="#">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-right">
                    <div class="product-right-container figure fade-in orov-overlay-sepia" data-os-animation="fadeIn" data-os-animation-delay="0s"> <!--image-filter-sepia fade-in image-filter-onhover-->
                        <div class="orov-overlay">
                            <img class="" src="assets/openrov/images/or28.jpg" alt="OpenROV 2.8 Kits">
                            <div class="hover-grid-overlay-90">
                                <h4 class="">
                                    your title
                                </h4>
                                <p class="">
                                    <a href="image_src" class="btn btn-primary btn-sm magnific" target="_self">
                                                    View Larger
                                                </a>
                                    <a href="portfolio-slideshow.html" class="btn btn-primary btn-sm" target="_self">More Details</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>