<section id="product" class="section swatch-white element-medium-top element-medium-bottom">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-12">
                <header class="text-center element-tall-top element-no-bottom os-animation condensed" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h1 class="bigger hairline bordered bordered-normal">
                        Trident specifications
                    </h1>
                </header>
            </div>-->
            <div class="col-md-12">
                <div class="pre-order-content-container">
                    {% include home/pre-order-content.html %}
                </div>
            </div>
        </div>
        <div class="row element-medium-top product-bottom-row">
            <div class="col-md-6 col-xs-6">
                <div class="product-left">
                    <div class="product-left-container">
                        <div class="">
                            <img class="cover" src="assets/openrov/images/cards/2_8/card_1_400x300.jpg" alt="OpenROV 2.8 Kits">
                            <div class="grid-overlay-30 hover-grid-overlay-90 orov-overlay" >
                                <div class="orov-overlay-container vertical-middle" >
                                    <div class="col-md-12 text-center product-description">
                                        <h2 class="">
                                            OpenROV 2.8 Kits
                                        </h2>
                                        <a href="products/openrov28">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="product-right">
                    <div class="product-right-container figure fade-in " data-os-animation="fadeIn" data-os-animation-delay="0s"> <!--image-filter-sepia fade-in image-filter-onhover-->
                        <div class="">
                            <img class="cover" src="assets/openrov/images/cards/2_8/card_2_400x300.jpg" alt="OpenROV 2.8 Kits">
                            <div class="grid-overlay-30 hover-grid-overlay-90 orov-overlay" >
                                <div class="orov-overlay-container vertical-middle" >
                                    <div class="col-md-12 text-center product-description">
                                        <h2 class="">
                                            OpenROV 2.8 Kits
                                        </h2>
                                        <a href="products/openrov28">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>