<section id="product" class="section swatch-white element-medium-top element-medium-bottom">
    <div class="container">
                <header class="text-center element-no-top element-no-bottom condensed os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h1 class="or-section-title-dark">
                        If you’re looking to DIY, try the OpenROV 2.8 Kit
                    </h1>
                </header>        

        <!--<div class="row element-medium-top product-bottom-row">-->
        <div class="row element-medium-top">

            <div class="col-md-6 item text-center">
                    <div class="background element-short-bottom" style="background-image: url(assets/openrov/images/cards/2_8/card_1_400x300.jpg)">
                        <a href="products/orov28" class="" >
                        <div class="item-container">
                            <div class="container-fluid item-content">
                                <div class="row" style="height:100%">
                                    <div class="col-md-12">
                                        <h1 class="or-content-title-light-left">OpenROV 2.8 Kit</h1>
                                        <div class="description or-content-sub-title-light-left">Build your own underwater robot</div>
                                    </div>
                                </div>
                                <div class="item-arrow right">{% include yellow-arrow-right.svg %}</div>
                            </div>
                            <div class="or-botton-line"></div>
                            <div class="or-darken-34"></div>
                        </div>

                        </a>
                        
                    </div>
                
            </div>
            <div class="col-md-6 item text-center">
                    <div class="background element-short-bottom" style="background-image: url(assets/openrov/images/cards/2_8/card_2_400x300.jpg)">
                        <a href="products/orov28" class="" >
                        <div class="item-container">
                            <div class="container-fluid item-content">
                                <div class="row" style="height:100%">
                                    <div class="col-md-12">
                                        <h1 class="or-content-title-light-left">OpenROV Store</h1>
                                        <div class="description or-content-sub-title-light-left"> Shop for DIY Parts, Upgrades, and Accessories</div>
                                    </div>
                                </div>
                                <div class="item-arrow right">{% include yellow-arrow-right.svg %}</div>
                            </div>
                            <div class="or-botton-line"></div>
                            <div class="or-darken-34"></div>
                        </div>

                        </a>
                        
                    </div>
                
            </div>

        </div>
    </div>
</section>

