<section class="section swatch-gray" id="tridentFeatures">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="text-center element-tall-top element-no-bottom condensed os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h1 class="bigger hairline ">
                        Trident Features
                    </h1>
                </header>

                {% for item in site.data.home-trident-features %}<div class="col-md-3 col-xs-4 {{item.additional-css}}">
                    <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
                        <div class="box box-round box-medium box-simple">
                            <div class="box-dummy"></div>
                            <div class="box-inner grid-overlay-0 icon feature-shadow">
                                <img class="" src="assets/openrov/images/features/{{item.image}}-200x200.jpg" alt="{{item.title}}" />
                            </div>
                        </div>
                        <h3 class="normal bold ">

                            {{item.title}}

                        </h3>
                        <p class="">{{item.text}}</p>
                    </div>
                </div>{% endfor %}


            </div>
        </div>

        <div class="row">
            <div class="col-md-12 element-medium-bottom">
                <div class="pre-order-content-container">
                    {% include home/pre-order-content.html retail=true %}
                </div>
            </div>
        </div>

    </div>
</section>