section#tridentSpecs {
    
    .icon {
        background-color: transparent;
    }

    .background-media {
        background-image: url(../images/cards/trident/trident-diving.png);
        background-repeat: no-repeat; 
        background-size: cover; 
        // background-attachment: fixed; 
        background-position: 50%;

        opacity: .8;
        
    }
}