<section id="tridentSpecs" class="section swatch-white">
    <div class="container">
        <div id="services" class="row">
            <div class="col-md-12">
                <header class="text-center element-tall-top element-no-bottom os-animation condensed" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h1 class="bigger hairline bordered bordered-normal">
                        Trident specifications
                    </h1>
                </header>
                <div class="row " data-os-animation="" data-os-animation-delay="">
                    {% for item in site.data.home-specifications %}<div class="col-md-3 col-xs-4 {{item.additional-css}}">
                        <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
                            <div class="box box-round box-medium box-simple">
                                <div class="box-dummy"></div>
                                <div class="box-inner grid-overlay-0 icon">
                                    <img class="" src="assets/openrov/images/specs/{{item.image}}.png" alt="{{item.header}}" />
                                </div>
                            </div>
                            <h3 class="normal bold bordered bordered-small ">

                                {{item.header}}

                            </h3>
                            <p class="">{{item.text}}</p>
                        </div>
                    </div>{% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section>