section#tridentSpecs {
    
    background-color: white;
   
    .icon {
        background-color: white;
        img {
            opacity: .8;
        }
    }

    .background-media {
        background-image: url(../images/cards/trident/trident-diving-in-kelp.png);
        background-repeat: no-repeat; 
        background-size: cover; 
        // background-attachment: fixed; 
        background-position: 50%;

        opacity: .8;
        
    }
}