section#tridentSpecs {
    
    .icon {
        background-color: transparent;
    }

    .background-media {
        background-image: url(openrov/images/hero/trident-in-kelp.jpg);
        background-repeat: no-repeat; 
        background-size: cover; 
        // background-attachment: fixed; 
        background-position: 50%;

        opacity: .8;
        
    }

    h1,h3,div,p {
        color: white;

    }

}