<section id="usecases" class="section swatch-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <header class="text-center element-medium-top element-short-bottom os-animation condensed" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h1 class="or-section-title-dark">
                        How you can use Trident
                    </h1>
                </header>

                <div class="row">
                    {% for item in site.data.home-trident-usecases %}
                    <div class="col-md-6 usecase text-center">
                            <div class="background element-short-bottom" style="background-image: url(assets/openrov/images/usecases/{{item.image-base}}-400x300.jpg)">
                                <a href="#" class="" data-toggle="modal" data-target="#modal-{{forloop.index}}">
                                <div class="v-container">
                                    <div class="v-box">
                                        {% if item.icon %}<i class="fa {{item.icon}}" aria-hidden="true"></i>{% endif %}
                                        {% if item.svg %} <div class="svg">{% include {{item.svg}} %}</div> {% endif %}
                                        <h1>{{item.title}}</h1>
                                        <div class="description">{{item.description}}</div>
                                    </div>
                                    <div class="or-botton-line"></div>
                                </div>

                                </a>
                                
                            </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
</section>

{% for item in site.data.home-trident-usecases %}
<div class="modal fade" id="modal-{{forloop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document"  >
        <div class="modal-content">
            <div class="modal-body" style="background-image: url(assets/openrov/images/usecases/{{item.image-base}}-400x300.jpg)">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="v-container gradient">
                    <div class="v-box">
                        {%if item.modalFile %}
                        {% capture filename %}home/usecases/{{item.modalFile}}.html{% endcapture %}
                        {% include {{filename}} svg=item.svg icon=item.icon %}
                        {% endif %}
                        <a href="products/trident" class="btn btn-primary btn-white-magic explore-trident">Explore Trident</a>                 
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}
