section#usecases {
    .usecase-boating {
        width: 100%;
        height: 600px;
        background-color: blue;
    }

    .figure-image {
        .figure-caption .figure-icon {
            position: relative;
            top: 1.8em;            
        }
    }
}