<section class="section swatch-white">
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-container element-short-top element-no-bottom">
                    <div class="portfolio masonry " data-padding="2" data-col-xs="2" data-col-sm="3" data-col-md="3" data-col-lg="3" data-layout="fitRows">
                        
                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="Trident use case boating">
                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-grayscale fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <a href="assets/images/uploads/image-03-normal.jpg" class="figure-image magnific" data-links="" target="_self">
                                    <img src="assets/images/uploads/image-03-normal-800x600.jpg" alt="Coffee and Biscuits" class="normalwidth">
                                    <div class="figure-overlay grid-overlay-20">
                                        <div class="figure-overlay-container">
                                            <span class="figure-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>