<section id="usecases" class="section swatch-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <header class="text-center element-medium-top element-short-bottom os-animation condensed" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <h1 class="or-section-title-dark">
                        How you can use Trident
                    </h1>
                </header>

                <div class="row">
                    {% for item in site.data.home-trident-usecases %}
                    <div class="col-md-6 usecase text-center">
                            <div class="background element-short-bottom" style="background-image: url(assets/openrov/images/usecases/{{item.image-base}}-small.png)">
                                <a href="#" class="" data-toggle="modal" data-target="#modal-{{forloop.index}}">
                                <div class="usecase-container">
                                    <div class="container-fluid usecase-content">
                                        <div class="row" style="height:100%">
                                            <div class="col-md-3" style="height: 100%">
                                                <div style="height:100%; position:relative;" class="v-container">
                                                    {% if item.svg %} <div class="svg v-box">{% include {{item.svg}} %}</div> {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <h1 class="or-hero-sub-title">{{item.title}}</h1>
                                                <div class="description Content-Body-LIT-Left">{{item.description}}</div>
                                            </div>
                                        </div>
                                        <div class="usecase-arrow right">{% include yellow-arrow-right.svg %}</div>
                                    </div>
                                    <div class="or-botton-line"></div>
                                    
                                </div>

                                </a>
                                
                            </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
</section>

{% for item in site.data.home-trident-usecases %}
<div class="modal fade" id="modal-{{forloop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document"  >
        <div class="modal-content">
            <div class="modal-body" style="background-image: url(assets/openrov/images/usecases/{{item.image-base}}-large.png)">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="v-container content">
                    <div class="v-box">
                        {%if item.modalFile %}
                        {% capture filename %}home/usecases/{{item.modalFile}}.html{% endcapture %}
                        {% include {{filename}} svg=item.svg icon=item.icon %}
                        {% endif %}
                        <a href="products/trident" class="btn btn-primary explore-trident">LEARN MORE</a>                 
                    </div>
                </div>
                {% if forloop.first == false %}
                <div class="usecase-arrow left"><a data-modal-id="{{forloop.index}}">{% include yellow-arrow-left.svg %}</a></div>
                {% endif %}
                {% if forloop.last == false %}
                <div class="usecase-arrow right"><a data-modal-id="{{forloop.index}}">{% include yellow-arrow-right.svg %}</a></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

