<section id="components" class="section swatch-gray">
    <div class="container" id='overview'>

        <div class="row">
            <div class="col-md-12 text-center">
                <header class="element-tall-top element-no-bottom">
                    <h1 class="or-section-title-dark element-short-bottom">Trident Accessories</h1>
                </header>
            </div>
        </div>

        <div class="row element-tall-bottom">
            <div class="col-md-6 linkImage text-center">
                {% include linkimage.html 
                    image='../../assets/openrov/images/product-trident/trident-case.jpg' 
                    title='Case' 
                    subtitle='A rugged hard-shell case for travel or shipping' %}
            </div>
            <div class="col-md-6 linkImage text-center">
                {% include linkimage.html 
                    image='../../assets/openrov/images/product-trident/trident-tether.jpg' 
                    title='100 meter tether' 
                    tall=true
                    subtitle='An additional 100m tether for deeper dives <br>(Trident comes with a 25m tether standard)' %}
            </div>

        </div>
    </div>
</section>
