<section class="section swatch-white element-tall-bottom" id="connectivity">
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <header class="text-center element-medium-top element-short-bottom not-condensed os-animation animated fadeInUp" data-os-animation="fadeInUp"
                    data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <h2 class="bigger hairline bordered bordered-small">
                        Connectivity
                    </h2>
                </header>
                <div class="row ">
                    <div class="col-md-12 text-center">
                        <div class="element-no-top element-no-bottom os-animation animated fadeInLeft" data-os-animation="fadeInLeft" data-os-animation-delay="0s"
                            style="animation-delay: 0s;">
                            <p>
                                The data connection to Trident is a major evolution from the connection setup of the original OpenROV kit. It uses a neutrally
                                buoyant tether to communicate to a towable buoy on the surface (radio waves don't travel
                                well in water) and the buoy connects to the pilot using a long range WiFi signal. Using a
                                wireless towable buoy greatly increases the practical range of the vehicle while doing transects
                                and search patterns since a physical connection between the vehicle and the pilot doesn't
                                need to be maintained. You can connect to the buoy and control Trident using a tablet or
                                laptop from a boat or from the shore.
                            </p>
                        </div>
                        <div class="figure element-no-top element-short-bottom os-animation image-filter-none image-filter-onhover fade-none text-center figcaption-middle normalwidth animated fadeInRight"
                            data-os-animation="fadeInRight" data-os-animation-delay="0s" style="animation-delay: 0s;">
                            <span class="figure-image">
                                                <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/connectivity.jpg" alt="" class="normalwidth">
                                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>