<section id="content" class="section swatch-gray">
    <div class="container element-medium-top element-medium-bottom" id='overview'>

        <div class="row">
            <div class="col-md-12 text-center">
                <header class="element-small-top element-no-bottom">
                    <h1 class="or-section-title-dark element-short-bottom">Trident Features</h1>
                    <a href="specifications/" class="btn or-button-blue element-no-top element-tall-bottom" taget="_blank">TECHNICAL SPECS</a>
                </header>
            </div>
        </div>


        <div class="row">
           
            <!--text-->
            <div class="col-md-5 element-medium-top">
                <h1 class="or-section-title-dark left">Trident Puts You in Control</h1>
                <span class="or-content-body-dark left">
                    Our goal is to make the easiest, most intuitive telerobotic control system possible. We have embraced the latest emerging internet standards to deliver a rich piloting experience. All you need is a web browser and a laptop, tablet, or smart phone.
                </span>                     
            </div>

            <!--image column-->
            <div class="col-md-6 col-md-offset-1">

                <div id="control-slider" class="flexslider " data-flex-speed="4000" 
                        data-flex-duration="750" data-flex-animation="fade" data-flex-controls="hide" 
                        data-flex-directions="hide" data-flex-controlsalign="center" 
                        data-flex-controlsposition="inside"
                        data-flex-sliderdirection="horizontal" data-flex-controlsvertical="bottom">
                    <ul class="slides">
                        <li>
                            <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/vr-control.png" alt="VR Control">
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/mobile-control.png" alt="Mobile Control">
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/tablet-control.png" alt="Tablet Control">
                        </li>
                        <li>
                            <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/laptop-control.png" alt="Laptop Control">
                        </li>
                    </ul>
                </div>


                <!--<div class="figure element-no-top element-no-bottom os-animation text-center animated fadeInLeft" data-os-animation="fadeInLeft"
                    data-os-animation-delay="0.3s" style="animation-delay: 0.3s;">
                    <span class="figure-image">
                        <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/v-r.png" alt="control">
                    </span>
                </div>-->
            </div>

        </div><!--row-->


        <div class="row">
           
            <!--text-->
            <div class="col-md-5 element-medium-top col-md-offset-1 col-md-push-6">
                <h1 class="or-section-title-dark left  ">Trident Is Super Fast &amp; Agile</h1>
                <span class="or-content-body-dark left">
                    One of the secrets of its impressive performance is the unique, hydrodynamically offset thruster design. This configuration allows you to move through the water fast and efficiently when you want to rapidly search an area or run a transect, but also allows you to maneuver very delicately when in tight quarters or while looking at a particular target.
                </span>
            </div>

            <!--image column-->
            <div class="col-md-6 col-md-pull-6">
                    <div class="videoWrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-9ASJBsiELs?version=3&playlist=-9ASJBsiELs&loop=1&autoplay=0&rel=0&showinfo=0&controls=1&autohide=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <img src="{{site.baseurl}}/assets/openrov/images/shadow.png" alt="Shadow" style="width:100%">
            </div>


        </div><!--row-->


        <div class="row element-medium-top">
           
            <!--text-->
            <div class="col-md-5 element-medium-top">
                <h1 class="or-section-title-dark left ">Trident Is Durable &amp; Ultra Portable </h1>
                <span class="or-content-body-dark left">
                    The side panels are overmolded with a strong, rubber coating, which protects it against impacts and makes it easy to handle when wet. The form factor is small enough to be carried in a backpack or fit under an airplane seat. 
                </span>
            </div>

            <!--image column-->
            <div class="col-md-6 col-md-offset-1">
                <div class="figure element-no-top element-no-bottom os-animation text-center animated fadeInLeft" data-os-animation="fadeInLeft"
                    data-os-animation-delay="0.3s" style="animation-delay: 0.3s;">
                    <span class="figure-image">
                        <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/b-g-durable.png" alt="control">
                    </span>
                </div>
            </div>

        </div><!--row-->


        <div class="row">
            <!--text-->
            <div class="col-md-5 col-md-offset-1 col-md-push-6 element-medium-top">
                <h1 class="or-section-title-dark left">Trident Is an Evolutionary Leap in Connectivity</h1>
                <span class="or-content-body-dark left">
                    The data connection to Trident is a major evolution for underwater ROVs. It uses a neutrally buoyant tether to communicate to a towable buoy on the surface (radio waves don't travel well through water). The buoy connects to the pilot’s phone, laptop, or tablet using a long range WiFi signal which greatly increases Trident's effective range.
                </span>
            </div>
            <!--image column-->
            <div class="col-md-6 col-md-pull-6 text-right">
                <div class="figure element-no-top element-no-bottom os-animation text-center animated fadeInLeft" data-os-animation="fadeInLeft"
                    data-os-animation-delay="0.3s" style="animation-delay: 0.3s;">
                    <span class="figure-image">
                        <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/wifi.png" alt="control" style="height: 500px">
                    </span>
                </div>
            </div>

        </div><!--row-->




        <div class="row">
           
            <!--text-->
            <div class="col-md-5  element-medium-top">
                <h1 class="or-section-title-dark left">Trident is Flexible &amp;&nbsp;Expandable</h1>
                <span class="or-content-body-dark left">
                    Trident is designed to be able to add new sensors, instruments, and payloads. The software that powers Trident is a live open-source project which has been developed for years by both the community and our software team.                 </span>
            </div>

            <!--image column-->
            <div class="col-md-6 col-md-offset-1 text-left">
                <div class="figure element-no-top element-no-bottom os-animation text-center animated fadeInLeft" data-os-animation="fadeInLeft"
                    data-os-animation-delay="0.3s" style="animation-delay: 0.3s;">
                    <span class="figure-image">
                        <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/gropro.png" alt="control">
                    </span>
                </div>
            </div>

        </div><!--row-->


    </div>
</section>