<section class="section swatch-white element-short-bottom">
    <div class="container" id='overview'>
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="bigger hairline bordered bordered-small element-short-top element-short-bottom">
                    Trident at a glance
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="hairline bordered bordered-small element-short-top">
                    Features
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <ul class="features-list element-no-top element-no-bottom features-white" data-linecolor="" data-os-animation="none" data-os-animation-delay="0s">
                    <li class="element-no-top element-short-bottom os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                        <div class="features-list-icon">
                            <img src="{{site.baseurl}}/assets/openrov/images/specs/dive-black.png" alt="Ready to dive" class="">
                        </div>
                        <h3>
                            Ready to Dive
                        </h3>
                        <p>
                            Trident comes ready to dive out of the box and
                            is easy control with any device.
                        </p>
                    </li>
                    <li class="element-no-top element-short-bottom os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                        <div class="features-list-icon">
                            <img src="{{site.baseurl}}/assets/openrov/images/specs/depth-black.png" alt="Rated to 100m Deep" class="">
                        </div>
                        <h3>
                            Rated to 100m Deep
                        </h3>
                        <p>
                            Go deep! Trident dives comfortably to 100m, far deeper than recreational diving.
                        </p>
                    </li>
                    <li class="element-no-top element-short-bottom os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                        <div class="features-list-icon">
                            <img src="{{site.baseurl}}/assets/openrov/images/specs/battery-black.png" alt="4 Hours Battery Life" class="">
                        </div>
                        <h3>
                            4 Hours Battery Life
                        </h3>
                        <p>
                            Onboard rechargeable lithium batteries give you 4 hours of power to explore underwater.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">

                <ul class="features-list element-no-top element-no-bottom features-white" data-linecolor="" data-os-animation="none" data-os-animation-delay="0s">
                    <li class="element-no-top element-short-bottom os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                        <div class="features-list-icon">
                            <img src="{{site.baseurl}}/assets/openrov/images/specs/camera-black.png" alt="Shoot and Record Video in HD" class="">
                        </div>
                        <h3>
                            Shoot and Record Video in HD
                        </h3>
                        <p>
                            The underwater-optimized full HD camera offers low latency, high quality video streaming 
                            and recording.
                        </p>
                    </li>
                    <li class="element-no-top element-short-bottom os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                        <div class="features-list-icon">
                            <img src="{{site.baseurl}}/assets/openrov/images/specs/wifi-buoy-black.png" alt="WiFi Buoy" class="">
                        </div>
                        <h3>
                            WiFi Buoy
                        </h3>
                        <p>
                            Trident uses a neutrally buoyant tether to communicate to a towable WiFi buoy allowing 
                            for unprecedented freedom of movement.
                        </p>
                    </li>
                    <li class="element-no-top element-short-bottom os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                        <div class="features-list-icon">
                            <img src="{{site.baseurl}}/assets/openrov/images/specs/memory-black.png" alt="Expandable and Flexible" class="">
                        </div>
                        <h3>
                            Expandable and Flexible
                        </h3>
                        <p>
                            Trident features easy interface for upgrades, add-ons and modules.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h1 class="hairline bordered bordered-small element-short-top">
                    Control
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 figure">
                 <span class="figure-image">
                    <img src='{{site.baseurl}}/assets/openrov/images/product-trident/software_vr.jpg' alt="Control">
                 </span>
            </div>

            <div class="col-md-6">
                <p>
                    Our goal is to make the easiest, most intuitive telerobotic control
                    system possible. We have embraced the latest emerging internet 
                    standards from HTML5 and webRTC to WebVR and WebGL to 
                    deliver a rich piloting experience through just a browser that runs 
                    on laptops, tablets, and modern mobile devices.
                </p>

                <p>
                    The software that drives Trident is a living open-source project. The 
                    same software that drives our previous ROV has been continually 
                    updated by both the community and our software team. Some of 
                    those changes included:
                </p>

                <p>
                    Software plugins that allow any ROV enthusiast to deliver improved 
                    ROV capabilities to the whole OpenROV community via small 
                    Internet delivered update packages.
                    UI Themes so that you can change the look and feel of the piloting 
                    experience.
                </p>
                
                <p>
                    Depth and Heading hold. Until recently, only a feature on high end 
                    industrial ROVs, now available to everyone.
                    With Trident we are focused on an amazing out-of-the-box 
                    experience. We are reviewing every bit of the user experience 
                    regarding our software to ensure the most simple and intuitive 
                    experience possible.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h1 class="hairline bordered bordered-small element-short-top element-short-bottom">
                    Performance
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <p>
                    One of the secrets of its versatility is the unique,
                    hydrodynamically offset thruster design. This configuration 
                    allows you to move through the water fast and efficiently 
                    when you want to rapidly search an area or run a transect, 
                    but also allows you to maneuver very delicately when in 
                    tight quarters or while looking at a particular target.
                    </p>
                    <p>                
                    By taking advantage of drag's exponential relationship with 
                    velocity, the off-center vertical thruster of the ROV can 
                    cause it to pitch at high speeds but also hover or change 
                    depth without pitching while operating at low speeds - 
                    similar to the way a traditional ROV works.
                    </p>            

                </div>
                <div class="row">
                    <div class="videoWrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-9ASJBsiELs?version=3&playlist=-9ASJBsiELs&loop=1&autoplay=0&rel=0&showinfo=0&controls=1&autohide=1" frameborder="0" allowfullscreen></iframe>
                    </div>-
                </div>
            </div>

            <div class="col-md-6 figure">
                 <span class="figure-image">
                     <a href="{{site.baseurl}}/assets/openrov/images/product-trident/trident-performance.png" class="figure-image magnific" data-links="" target="_self">
                        <img class="normalwidth" src='{{site.baseurl}}/assets/openrov/images/product-trident/trident-performance.png' alt="Trident performance">
                     </a>
                 </span>
            </div>


        </div>


        <div class="row">
            <div class="col-md-12">
                <h1 class="hairline bordered bordered-small element-short-top element-short-bottom">
                    Portability
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-5 figure">
                 <span class="figure-image">
                     <a href="{{site.baseurl}}/assets/openrov/images/product-trident/trident-dimensions.png" class="figure-image magnific" data-links="" target="_self">
                        <img class="normalwidth" src='{{site.baseurl}}/assets/openrov/images/product-trident/trident-dimensions.png' alt="Trident dimensions">
                     </a>
                 </span>
            </div>

            <div class="col-md-4">
                We've designed Trident to be ultra portable and ultra durable. The form factor is small enough to 
                fit in a backpack or fit under an airplane seat. The side panels are overmolded with a 
                strong, rubber coating, which gives it protection from underwater obstacles as well as 
                rough handling when being transported.
            </div>


        </div>


        <div class="row">
            <div class="col-md-12">
                <h1 class="hairline bordered bordered-small element-short-top element-short-bottom">
                    Connectivity
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <p>
                The data connection to Trident is a major evolution for
                underwater ROVs. It uses a neutrally buoyant tether to
                communicate to a towable buoy on the surface (radio waves
                don't travel well in water) and the buoy connects to the pilot
                using a long range WiFi signal. Using a wireless towable buoy
                greatly increases the practical range of the vehicle since a
                physical connection between the vehicle and the pilot doesn't
                need to be maintained.

                </p>            
            </div>

            <div class="col-md-6 figure">
                 <span class="figure-image">
                    <img class="normalwidth" src='{{site.baseurl}}/assets/openrov/images/cards/trident/trident-scenery-1200x900.jpg' alt="Connectivity">
                 </span>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="hairline bordered bordered-small element-short-top element-short-bottom">
                    Flexible and Expandable
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 figure">
                 <span class="figure-image">
                    <img class="normalwidth" src='{{site.baseurl}}/assets/openrov/images/product-trident/trident-extensions.jpg' alt="Connectivity">
                 </span>
            </div>

            <div class="col-md-6">
                <p>

                    The software that drives Trident is a living open-source project. The
                    same software that drives our previous ROV has been continually
                    updated by both the community and our software team. Some of those
                    changes included:
                </p>
                <ul>
                    <li>Software plugins that allow any ROV enthusiast to deliver improved
                    ROV capabilities to the whole OpenROV community via small
                    Internet delivered update packages.
                    </li>
                    <li>
                        Depth and Heading hold. Until recently, only a feature on high end
                        industrial ROVs, now available to everyone.
                    </li>
                </ul>
                <p>
                    Trident will also feature the ability to mount and communicate
                    wirelessly with modules and add-ons. This will allow for the addition of
                    new modules to expand the capabilities of your Trident.

                </p>            
            </div>

            
        </div>
    </div>
</section>