@import "themeDefinitions.scss";
section#head {
    .flexslider {

        .jumbotron {
            background-size: cover;
            background-position: center;
            height: 600px;

            h1 {
                font-size: 2em;
                text-shadow: 2px 2px 2px rgba(0,0,0, 0.6);
            }

            @media screen and (max-height: #{$heightNexus6P}) { 
                height: 645px;
            }
            @media screen and (max-height: #{$heightNexus5x-iPhone6P}) { 
                height: 605px;
            }
            @media screen and (max-height: #{$heightiPhone6}) { 
                height: 535px;
            }

            @media screen and (max-height: #{$heightNexus5}) { // and iPhone5
                height: 440px;
            }


            @import "home/pre-order-content.scss";

            .hero {
                .buttons {
                    margin-top: 140px;
                }
            }

        }

    }

}