@import "themeDefinitions.scss";
@import "zeplin-map.scss";
section#head {
    .flexslider {

        .jumbotron {
            background-size: cover;
            background-position: center;
            height: 500px;
            padding-top: 0;
            .hero {
                height: 500px!important;
            }

            h1 {
                // font-size: 2em;
                text-shadow: none;
            }

            // @media screen and (max-height: #{$heightNexus6P}) { 
            //     height: 645px;
            // }
            // @media screen and (max-height: #{$heightNexus5x-iPhone6P}) { 
            //     height: 605px;
            // }
            // @media screen and (max-height: #{$heightiPhone6}) { 
            //     height: 535px;
            // }

            // @media screen and (max-height: #{$heightNexus5}) { // and iPhone5
            //     height: 440px;
            // }


            @import "home/pre-order-content.scss";

            .hero {
                .buttons {
                    margin-top: 105px;
                }

            }

        }

    }

}