<section class="section swatch-white" id="head">
    <div class="container-fullwidth">
        <div class="row">

            <div class="col-md-12 head-content">
                <div id="slider-flex12" class="flexslider " data-flex-speed="8000" 
                        data-flex-duration="1000" data-flex-animation="fade" data-flex-controls="show" 
                        data-flex-directions="hide" data-flex-controlsalign="center" 
                            data-flex-controlsposition="inside"
                        data-flex-sliderdirection="horizontal" data-flex-controlsvertical="bottom">
                    <ul class="slides">
                        <li>
                            <div class="jumbotron  element-no-top element-no-bottom image image-overlay-text" 
                                style="background-image: url(../../assets/openrov/images/hero/trident-jumping.jpg);">

                                {% include home/pre-order-content.html title='Trident - <br>See underwater <br>like never before.' description=true hideGradient=true hideLearnMore=true %}

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>