@import "themeDefinitions.scss";
@import "zeplin-map.scss";
section#head {
    .flexslider {

        .jumbotron {
            background-size: cover;
            background-position: center;
            height: 500px;
            padding-top: 0;
            .hero {
                height: 500px!important;
            }

            h1 {
                // font-size: 2em;
                text-shadow: none;
            }

            @import "home/pre-order-content.scss";

            .hero {
                .buttons {
                    margin-top: 105px;
                }

            }

        }

    }

}