<section class="section swatch-gray">
    <div class="container element-medium-bottom" id='overview'>
        <div class="row">
            <div class="col-md-12">
                <h1 class="bigger hairline bordered bordered-small element-short-top element-short-bottom"><a href="#uc-diving">Intoduction</a></h1>
            </div>
        </div>
        
        <!--image column-->
        <div class="row">
            <div class="col-md-6">
                <div class="figure element-no-top element-no-bottom os-animation text-center animated fadeInLeft" data-os-animation="fadeInLeft"
                    data-os-animation-delay="0.3s" style="animation-delay: 0.3s;">
                    <span class="figure-image">
                        <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/trident-overview.jpg" alt="Devices">
                    </span>
                </div>
            </div>
       
            <!--text-->
            <div class="col-md-6 element-no-top">
                After four years designing and piloting underwater drones, we've
                taken everything we've learned and completely re-imagined what 
                an underwater drone could be. Trident has a unique design that 
                combines the versatility and control of an ROV (Remotely 
                Operated Vehicle) and the efficiency of an AUV (Autonomous 
                Underwater Vehicle). It can fly in long, straight survey lines called 
                "transects" as well as perform delicate maneuvers in tight spaces, 
                all while maintaining a sleek and powerful form factor. Every aspect 
                of the Trident design has been painstakingly thought out in order to 
                optimize performance and usability in any situation.
            </div>

            <div class="col-md-6" style="padding-left: 0">
                <div class="col-md-9 element-short-top">
                    Trident is easy to use and comes ready
                    to go. Most importantly, it is incredibly 
                    fun to fly. (Flying really is the best term, 
                    because that's exactly what it feels like 
                    when you're piloting.)
                </div>

                <div class="col-md-3 element-short-top">
                    <div style="width:100%; height: 100px; border: 1px solid black" class="text-center bold">Ready to dive</div>
                </div>

            </div>
        </div>

    </div>
</section>