<section class="section swatch-gray">
    <div class="container" id='overview'>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="figure element-medium-top element-no-bottom os-animation text-center animated fadeInLeft" data-os-animation="fadeInLeft"
                            data-os-animation-delay="0.3s" style="animation-delay: 0.3s;">
                            <span class="figure-image">
                                                <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/trident-overview.jpg" alt="Devices">
                                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <header class="text-left element-tall-top element-medium-bottom os-animation condensed animated fadeIn" data-os-animation="fadeIn"
                            data-os-animation-delay="0s" style="animation-delay: 0s;">
                            <h1 class="bigger hairline bordered bordered-small">
                                OpenROV Trident
                            </h1>
                        </header>
                        <p>
                            Every aspect of the Trident design has been painstakingly thought out in order to optimize performance and usability in any
                            situation. One of the secrets of its versatility is the unique, hydrodynamically offset thruster
                            design. This configuration allows you to move through the water fast and efficiently when you
                            want to rapidly search an area or run a transect, but also allows you to maneuver very delicately
                            when in tight quarters or while looking at a particular target.
                        </p>
                        <p>
                            We've designed Trident to be ultra portable and ultra durable. The form factor is small enough to fit in a backpack or fit
                            under an airplane seat. The side panels are overmolded with a strong, rubber coating, which gives
                            it protection from underwater obstacles as well as rough handling when being transported.

                        </p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>