<section id="pre-order-faq" class="section swatch-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 element-normal-bottom">


                {% for item in site.data.trident-preorder-faq %}

                <h2 class="or-section-title-dark text-left element-medium-top element-short-bottom">
                    {{ item.title }}
                </h2>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for subItem in item.items %}

                    <div class="panel panel-info">
                        <div class="panel-heading {% if forloop.last == true %}last{% endif %}" role="tab" id="heading{{item.code}}{{forloop.index}}">
                            <h4 class="text-left">
                                <a class="or-content-sub-title-dark collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{item.code}}{{forloop.index}}" aria-expanded="true" aria-controls="collapse{{item.code}}{{forloop.index}}">
                                    {{subItem.title}} <i class="fa fa-caret-square-o-down down" aria-hidden="true"></i><i class="fa fa-caret-square-o-up up" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div id="collapse{{item.code}}{{forloop.index}}" class="panel-collapse collapse {% if forloop.last == true %}last{% endif %}" role="tabpanel" aria-labelledby="heading{{item.code}}{{forloop.index}}">
                        <div class="panel-body or-content-body-dark text-left">
                            {{ subItem.value }}
                        </div>
                    </div>

                    {% endfor %}
                </div>


                {% endfor %}

            </div>
        </div>
    </div>
</section>
<!-- buy - build - explore -->