<section class="section swatch-black section-text-shadow section-inner-shadow" id="software">
    <div class="background-media skrollable skrollable-between" style="background-image: url({{ site.baseurl }}/assets/openrov/images/product-trident/software_background.png); background-attachment: fixed; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;"
        data-start="background-position:" data-70-top-bottom="background-position:">
    </div>
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-md-12 ">
                <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
                    <div class="visible-xs" style="height:60px;"></div>
                    <div class="visible-sm" style="height:60px;"></div>
                    <div class="visible-md" style="height:120px;"></div>
                    <div class="visible-lg" style="height:180px;"></div>
                </div>
                <header class="text-center  element-tall-top element-tall-bottom not-condensed os-animation animated fadeIn" data-os-animation="fadeIn"
                    data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <h1 class="super hairline bordered-normal">
                        Software
                    </h1>
                </header>
                <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
                    <div class="visible-xs" style="height:60px;"></div>
                    <div class="visible-sm" style="height:60px;"></div>
                    <div class="visible-md" style="height:120px;"></div>
                    <div class="visible-lg" style="height:180px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section swatch-white element-medium-top element-tall-bottom">
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <div class="row ">
                    <div class="col-md-12 text-left">
                        <div class="element-no-top element-no-bottom os-animation animated fadeInLeft" data-os-animation="fadeInLeft" data-os-animation-delay="0s"
                            style="animation-delay: 0s;">
                            <p>
                                Our goal is to make the easiest, most intuitive telerobotic control system possible. We have embraced the latest emerging
                                internet standards from HTML5 and webRTC to WebVR and WebGL to deliver a rich piloting experience
                                through just a browser that runs on laptops, tablets, and modern mobile devices.
                            </p>
                            <p>
                                The software that drives Trident is a living open-source project (<a href="https://github.com/openrov/openrov-software">https://github.com/openrov/openrov-software</a>).
                                The same software that drives our previous ROV has been continually updated by both the community
                                and our software team. Some of those changes included:</p>
                            <ul>
                                <li>
                                    Software plugins that allow any ROV enthusiast to deliver improved ROV capabilities to the whole OpenROV community via small
                                    Internet delivered update packages.
                                </li>
                                <li>
                                    UI Themes so that you can change the look and feel of the piloting experience.
                                </li>
                                Depth and Heading hold. Until recently, only a feature on high end industrial ROVs, now available to everyone.
                                <li>
                                    With Trident we are focused on an amazing out-of-the-box experience. We are reviewing every bit of the user experience regarding
                                    our software to ensure the most simple and intuitive experience possible.
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-container element-medium-top element-medium-bottom">
                    <div class="portfolio masonry isotope" data-padding="15" data-col-xs="2" data-col-sm="2" data-col-md="3" data-col-lg="3"
                        data-layout="fitRows" style="margin: 0px -7.5px; position: relative; overflow: hidden; height: 1168px;">
                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="Coffee and Biscuits" style="width: 385px; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover animated fadeIn"
                                data-os-animation="fadeIn" data-os-animation-delay="0s" style="padding: 7.5px; animation-delay: 0s;">
                                <a href="{{ site.baseurl }}/assets/openrov/images/product-trident/software-theme.png" class="figure-image magnific" data-links="
                         " target="_self">
                                    <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/software-theme.png" alt="Coffee and Biscuits" class="normalwidth">
                                    <div class="figure-overlay grid-overlay-30">
                                        <div class="figure-overlay-container">
                                            <span class="figure-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="2" data-title="Cactus Love" style="width: 385px; position: absolute; left: 0px; top: 0px; transform: translate3d(385px, 0px, 0px);">
                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover animated fadeIn"
                                data-os-animation="fadeIn" data-os-animation-delay="0.3s" style="padding: 7.5px; animation-delay: 0.3s;">
                                <a href="{{ site.baseurl }}/assets/openrov/images/product-trident/software_vr.jpg" class="figure-image magnific" data-links="
                         " target="_self">
                                    <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/software_vr.jpg" alt="Cactus Love" class="normalwidth">
                                    <div class="figure-overlay grid-overlay-30">
                                        <div class="figure-overlay-container">
                                            <span class="figure-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        \
                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="2" data-title="Cactus Love" style="width: 385px; position: absolute; left: 0px; top: 0px; transform: translate3d(385px, 0px, 0px);">
                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover animated fadeIn"
                                data-os-animation="fadeIn" data-os-animation-delay="0.3s" style="padding: 7.5px; animation-delay: 0.3s;">
                                <a href="{{ site.baseurl }}/assets/openrov/images/product-trident/software_background.png" class="figure-image magnific" data-links="
                         " target="_self">
                                    <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/software_background.png" alt="Cactus Love" class="normalwidth">
                                    <div class="figure-overlay grid-overlay-30">
                                        <div class="figure-overlay-container">
                                            <span class="figure-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        \
                    </div>
                </div>
            </div>

</section>