<section class="section swatch-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="figure element-medium-top element-no-bottom os-animation text-center animated fadeInLeft" data-os-animation="fadeInLeft"
                            data-os-animation-delay="0.3s" style="animation-delay: 0.3s;">
                            <span class="figure-image">
                                                <img src="{{ site.baseurl }}/assets/openrov/images/product-trident/dimensions.jpg" alt="Devices">
                                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <ul class="features-list element-no-top element-no-bottom features-white" data-linecolor="" data-os-animation="none" data-os-animation-delay="0s">
                            <li class="element-no-top element-short-bottom os-animation animated fadeInRight" data-os-animation="fadeInRight" data-os-animation-delay="0s"
                                style="animation-delay: 0s;">
                                <div class="features-list-icon">
                                    <img src="{{ site.baseurl }}/assets/images/icons/indicator-512.png" alt="Indicator Icon" class="">
                                </div>
                                <h3>
                                    Depth
                                </h3>
                                <p>
                                    Capable of 100m (will ship with a 25m tether - <b>longer tethers sold separately</b>)

                                </p>
                            </li>
                            <li class="element-no-top element-short-bottom os-animation animated fadeInRight" data-os-animation="fadeInRight" data-os-animation-delay="0s"
                                style="animation-delay: 0s;">
                                <div class="features-list-icon">
                                    <img src="{{ site.baseurl }}/assets/images/icons/drafting-compass-512.png" alt="Drafting Icon" class="">
                                </div>
                                <h3>
                                    Dimensions
                                </h3>
                                <p>
                                    2.9kg, 400mm long, 200mm wide, 80mm heigh - fits comfortably in your carry on
                                </p>
                            </li>
                            <li class="element-no-top element-short-bottom os-animation animated fadeInRight" data-os-animation="fadeInRight" data-os-animation-delay="0s"
                                style="animation-delay: 0s;">
                                <div class="features-list-icon">
                                    <img src="{{ site.baseurl }}/assets/images/icons/star-512.png" alt="Speed Icon" class="">
                                </div>
                                <h3>
                                    Top Speed
                                </h3>
                                <p>
                                    2 m/s - as fast as an olympic swimmer
                                </p>
                            </li>
                            <li class="element-no-top element-short-bottom os-animation animated fadeInRight" data-os-animation="fadeInRight" data-os-animation-delay="0s"
                                style="animation-delay: 0s;">
                                <div class="features-list-icon">
                                    <img src="{{ site.baseurl }}/assets/images/icons/battery-full-512.png" alt="Battery Icon" class="">
                                </div>
                                <h3>
                                    Run Time
                                </h3>
                                <p>
                                    3 hours
                                </p>
                            </li>
                        </ul>
                        <p>&nbsp;
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>