<section id="trident-usecases" class="section swatch-gray element-short-bottom">
    <div class="container" id='overview'>
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="bigger hairline bordered bordered-small element-short-top element-short-bottom">
                    Use Cases
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="hairline bordered bordered-small element-short-top">
                    Trident Drone Is the Perfect Boat Accessory
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <blockquote class="quote">
                    <p>It lives on the boat with it’s case and a laptop. We
                    have a TV on the boat and we can play with it
                    whenever we want to see what’s down there,” Mark
                    said. His motor yacht is stored in San Diego and his
                    OpenROV is as much part of his boat as any
                    accessory. “It’s mostly for fun” but also the drone has
                    more than paid for itself. When Mark was bringing the
                    boat down from Canada, he used the drone to check
                    the depth as he was coming into a harbor because “the
                    water looked much shallower... You usually just follow
                    the chart, which said 70 feet.” But OpenROV was able
                    dive down and using the depth sensor report back that
                    it was much shallower than his draft. “So if I didn't have
                    the drone I would have run aground and been
                    stranded.” Another time when Mark was in Seattle the
                    drone came to the rescue again. “I hit a crab pot in
                    Seattle and I could see that the line was cut but I could
                    still feel a slight shudder. The drone was a lifesaver. If I
                    didn't check the prop and see that there was a steel
                    cable still around it I would have blown a seal and
                    flooded the engine room.
                    </p>
                    <div>
                        Trident’s sharp video and WiFi capabilities make it an
                        excellent tool and toy for boat owners. Because it’s
                        small and rugged you can take it onboard and have
                        eyes underwater in seconds. Special thanks to Mark
                        from Arizona for this amazing and cool set of stories.

                    </div>
                    <footer>
                        OpenROV Team                    
                    </footer>
                </blockquote>
                <div id="boating" name="boating" class="text-italic">Have a boating story or idea to share with us? <a href="mailto:support@openrov.com">Tell us!</a></div>
            </div>

            <div class="col-md-6 figure">
                <div class="row">
                 <span class="figure-image">
                    <img class="normalwidth" src='{{site.baseurl}}/assets/openrov/images/product-trident/connectivity.jpg' alt="Connectivity">
                 </span>
                </div>
                <div class="row">
                 <span class="figure-image element-short-top">
                    <img class="normalwidth" src='{{site.baseurl}}/assets/openrov/images/product-trident/hull-inspection.jpg' alt="Connectivity">
                 </span>
                </div>
            </div>


        <div class="row">
            <div class="col-md-12">
                <h1 class="hairline bordered bordered-small element-short-top">
                     Is an Underwater Robot Your Next Dive Tool?
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 figure">
                <div class="row">
                 <span class="figure-image">
                    <img class="normalwidth" src='{{site.baseurl}}/assets/openrov/images/product-trident/diver-with-trident.jpg' alt="Connectivity">
                 </span>
                </div>
                <div class="row">
                 <span class="figure-image element-short-top">
                    <img class="normalwidth" src='{{site.baseurl}}/assets/openrov/images/product-trident/diver-ready-to-dive.jpg' alt="Connectivity">
                 </span>
                </div>
            </div>

            <div class="col-md-6">


                <p>
                    While my dive table still has a place in my gear bag,
                    many divers have switched to dive computers. Divers
                    are always looking to expand their capabilities, go
                    deeper, and dive smarter. Many OpenROV users are
                    also divers (some even start diving after seeing what’s
                    down there with their ROV) and some have found
                    interesting ways to use OpenROV on your next dive.
                </p>
                <p>
                    Trident aims to be a great tool for both recreational and
                    commercial divers. Kirby, one of our community
                    members, spends a good deal of time looking for
                    anomalies to dive.
                </p>
                <blockquote class="quote">
                    <p>
I’m not interested in jumping
overboard 20 times a day...when I can just put Trident
in the water.


                    </p>
                    <footer>
                        Kirby
                    </footer>
                </blockquote>

                <p>
                    Another ROV’er, Doug, runs a dive
                    charter boat and plans on using Trident to help
                    maximize the dive time by doing a site survey with
                    Trident before suiting up to for a deep dive. Doug also
                    said, 
                </p>
                <blockquote class="quote">
                    <p>
                        I can keep an eye on all the divers in the water
                        with Trident...with high vis I could run the ROV with the
                        divers and keep them monitored.
                    </p>
                    <footer>
                        Doug
                    </footer>
                </blockquote>
                <p>
                    Often times there are
                    friends and family on the boat who don’t dive and still
                    want to participate. Trident gives them the chance to
                    keep up with the divers. And since Trident is small and
                    can dive to 100m, it will often be able to go where it’s
                    too dangerous                    
                </p>

                <div  id="diving" name="diving" class="text-italic">Have a diving story or idea to share with us? <a href="mailto:support@openrov.com">Tell us!</a></div>


            </div>

        </div>





        <div class="row" >
            <div class="col-md-12">
                <h1 class="hairline bordered bordered-small element-short-top">
                     Using Trident to Unleash Your Inner Explorer
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">


                <p>

                    For the first time in history you don’t need a huge
                    budget to be an explorer.
                    Be a part of a new global underwater observation
                    system - powered by people - that enables anyone
                    with an internet connection to be on the front lines of
                    discover.
                </p>

                <blockquote class="quote">
                    <p>
                        I wanted to study a life sciences in university. 
                        After attending this ROV building workshop and taking the ROV on an 
                        Expedition I descided I want to study engineering or marine biology.
                    </p>
                    <footer>
                        Teenage girl participating an OpenROV build workshop. 
                    </footer>
                </blockquote>


                <p>
                    The OpenROV community is exploring shipwrecks,
                    finding ancient Mayan pottery, spotting illusive sea
                    creatures in downtown Oakland, exploring lakes near
                    Mt. Everest and below Antarctic ice, searching for
                    buried treasure, observing pollution in metropolitan
                    rivers, teaching kids what they’re capable of, and
                    inspiring thousands to wonder what is down there.
                    

                </p>
  
                <div  id="explore" name="explore" class="text-italic">Adventure is meant to be shared. <a href="mailto:support@openrov.com">Join us!</a></div>

            </div>

            <div class="col-md-6 figure">
                <div class="row">
                 <span class="figure-image">
                    <img class="normalwidth" src='{{site.baseurl}}/assets/openrov/images/product-trident/explore-control-your-rov.jpg' alt="Connectivity">
                 </span>
                </div>
                <div class="row">
                 <span class="figure-image element-short-top">
                    <img class="normalwidth" src='{{site.baseurl}}/assets/openrov/images/product-trident/our-exploreres.jpg' alt="Connectivity">
                 </span>
                </div>
            </div>

        </div>



        <div class="row" >
            <div class="col-md-12">
                <h1 class="hairline bordered bordered-small element-short-top">
                      Underwater Research Using Drones
                </h1>
            </div>
        </div>
        <div class="row">
            <a id="research" name="research"></a>
            <div class="col-md-6 figure">
                <div class="row">
                 <span class="figure-image">
                    <img class="normalwidth" src='{{site.baseurl}}/assets/openrov/images/product-trident/ready-for-research.jpg' alt="Connectivity">
                 </span>
                </div>
                <div class="row">
                 <span class="figure-image element-short-top">
                    <img class="normalwidth" src='{{site.baseurl}}/assets/openrov/images/product-trident/ss-tahoe.jpg' alt="Connectivity">
                 </span>
                </div>
            </div>

            <div class="col-md-6">


                <p>
                    Water covers over 70% of our planet and we know
                    more about the surface of Mars than we do about our
                    oceans and deepest lakes
                </p>

                <blockquote class="quote">
                    <p>
                        From a converted bedroom filled with computer
                        displays, Charles Cross, an OpenROV software
                        engineer, piloted the Trident down through the
                        crystalline waters of Lake Tahoe. Within minutes the
                        researchers could see the Tahoe as it emerged from
                        the blue gloom on the lake floor...The 154-ton, 170-
                        foot-long steamer was once called the &quote;Queen of the
                        Lake,&quote; carrying passengers and mail in style. Built in
                        San Francisco in 1896, it was intentionally scuttled in
                        1940.
                    </p>
                    <p> 
                        Now the hobbyist team hopes it can democratize the
                        science and adventure that has previously been
                        accessible only to someone with the resources of
                        Robert Ballard, the oceanographer and explorer who
                        has investigated ships like the Titanic and the
                        Bismarck, a German battleship sunk in the early
                        stages of World War II.
                    </p>
                    <footer>
                        A Drone Start-Up Explores Underwater, The New York Times, June 26, 2016 
                    </footer>
                </blockquote>
                <div class="text-italic">Read more about diving the SS Tahoe <a href="http://www.nytimes.com/2016/06/27/technology/a-drone-start-up-explores-underwater.html?_r=0" target="_blank">here!</a></div>
 
            </div>




        </div>



    </div>
    <div class="element-short-top"></div>

</section>