<section class="section swatch-black section-text-shadow section-inner-shadow" id="included">
    <div class="background-media skrollable skrollable-between" style="background-image: url({{ site.baseurl }}/assets/openrov/images/product-trident/trident-splash.jpg); background-attachment: fixed; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;"
        data-start="background-position:" data-70-top-bottom="background-position:">
    </div>
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-md-12 ">
                <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
                    <div class="visible-xs" style="height:60px;"></div>
                    <div class="visible-sm" style="height:60px;"></div>
                    <div class="visible-md" style="height:120px;"></div>
                    <div class="visible-lg" style="height:180px;"></div>
                </div>
                <header class="text-center  element-tall-top element-tall-bottom not-condensed os-animation animated fadeIn" data-os-animation="fadeIn"
                    data-os-animation-delay="0s" style="animation-delay: 0s;">
                    <h1 class="super hairline bordered-normal">
                        What's Included
                    </h1>
                </header>
                <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
                    <div class="visible-xs" style="height:60px;"></div>
                    <div class="visible-sm" style="height:60px;"></div>
                    <div class="visible-md" style="height:120px;"></div>
                    <div class="visible-lg" style="height:180px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="section swatch-white element-medium-top element-tall-bottom">
    <div class="container">
        <div class="row">
            <div class="wpb_wrapper">
                <h2 class="bordered">Standard package</h2>
                <dl class="dl-horizontal">
                    <dt>Trident</dt>
                    <dd>The actual drone, ready-to-dive.</dd>
                    <dt>A 25m (82 ft) tether</dt>
                    <dd>There's a lot to see in the first 25m of depth. For many people, that will be enough. Tethers will be
                        removable and upgradeable if you need to go deeper.</dd>

                    <dt>A wifi topside buoy. </dt>
                    <dd> The tether connects to a wifi topside buoy. You can use this to control the ROV remotely by setting it
                        on the water or just leaving it on the boat or dock.</dd>

                    <dt>Batteries</dt>
                    <dd>Trident comes with onboard LiFePO4 batteries, providing a run time of over 3 hours.</dd>
                </dl>

                <h3 class="bordered">Adventure set add-on: </h3>
                <dl class="dl-horizontal">
                    <dt>Hard Case</dt>
                    <dd>Trident will come in a sturdy package/box, but the Adventure Set will have a hard case for travel and
                        shipment. </dd>

                    <dt>100m Tether</dt>
                    <dd> Know you want to go deep? Get the 100m tether right out of the gate.</dd>

                </dl>
            </div>
</section>