<section class="section swatch-white" id="components">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="portfolio-container components element-tall-top element-tall-bottom">
                    <div class="portfolio masonry " data-padding="2" data-col-xs="2" data-col-sm="2" data-col-md="4" data-col-lg="4" data-layout="fitRows">
                        
                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="Upgrades and accessories">
                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-grayscale fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <!--<div class="col-md-12">                                -->
                                <a href="assets/images/uploads/image-03-normal.jpg" class="figure-image magnific" data-links="" target="_self">
                                    <img src="../assets/openrov/images/product/accessories.jpg" alt="Coffee and Biscuits" class="normalwidth">
                                    <div class="figure-overlay grid-overlay-20">
                                        <div class="figure-overlay-container">
                                            <span class="figure-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="2" data-title="Replacement parts">
                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-grayscale fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <!--<div class="col-md-12">                                -->
                                <a href="assets/images/uploads/image-03-normal.jpg" class="figure-image magnific" data-links="" target="_self">
                                    <img src="../assets/openrov/images/product/replacements.jpg" alt="Coffee and Biscuits" class="normalwidth">
                                    <div class="figure-overlay grid-overlay-20">
                                        <div class="figure-overlay-container">
                                            <span class="figure-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="3" data-title="Gear">
                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-grayscale fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <!--<div class="col-md-12">                                -->
                                <a href="assets/images/uploads/image-03-normal.jpg" class="figure-image magnific" data-links="" target="_self">
                                    <img src="../assets/openrov/images/product/gear.jpg" alt="Coffee and Biscuits" class="normalwidth">
                                    <div class="figure-overlay grid-overlay-20">
                                        <div class="figure-overlay-container">
                                            <span class="figure-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="masonry-item portfolio-item isotope-item" data-menu-order="4" data-title="Experimental">
                            <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-grayscale fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <!--<div class="col-md-12">                                -->
                                <a href="assets/images/uploads/image-03-normal.jpg" class="figure-image magnific" data-links="" target="_self">
                                    <img src="../assets/openrov/images/product/experimental.jpg" alt="Coffee and Biscuits" class="normalwidth">
                                    <div class="figure-overlay grid-overlay-20">
                                        <div class="figure-overlay-container">
                                            <span class="figure-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
                                            </span>
                                        </div>
                                    </div>
                                </a>
                                <!--</div>-->
                            </div>
                        </div>


                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</section>