section#rov28 {
    .rov28 {
        // background-color: gray;
        height: 400px;
        background-image: url(../images/or28.jpg);
        background-size: cover;
        background-position: center;
    }
}