section#trident {
    .trident {
        // background-color: gray;
        height: 600px;
        background-image: url(../images/hero/trident.jpg);
        background-size: cover;
        background-position: center;
    }
}